<div class="bst-wrapper">
  <div class="bst-main login-bg"> <a class="fixed-btn" href="index-2.html"><i class="fa fa-arrow-left mrgn-r-xs"></i>Back To Home</a>
    <div class="login-form-wrapper mrgn-b-lg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-8 col-lg-5 center-block">
            <div class="bst-form-block bst-full-block overflow-wrappper">
              <div class="login-bar"> <%= image_tag "login-bars.png", :height => "7px", :width => "743px", class: "img-responsive"%>
               </div>
                <div class="bst-block-title text-center">
                  <div class="mrgn-b-lg">
                    <a href=""><%= image_tag "beast-logo-blue.png", class: "img-responsive display-ib", width: "300px", height: "42px" %> </a>
                  </div>
                  <div class="login-top mrgn-b-lg">
                    <div class="mrgn-b-md">
                      <h2 class="text-capitalize base-dark font-2x fw-normal">Login</h2> 
                    </div>
                      <p>Please enter your user information</p>
                  </div>
                </div>
                  <div class="bst-block-content">
                    <form class="login-form" action="javascript:;" method="post">
                      <div class="form-group has-feedback">
                      <input class="form-control" id="user-id" type="text" placeholder="User Name" required> <span class="glyphicon glyphicon-user form-control-feedback fa-lg" aria-hidden="true"></span> </div>
                      <div class="form-group has-feedback">
                      <input class="form-control" id="user-pwd" aria-describedby="user-pwd" type="password" placeholder="Password" required> <span class="glyphicon glyphicon-lock form-control-feedback fa-lg" aria-hidden="true"></span> </div>
                      <div class="login-meta mrgn-b-lg">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="checkbox">
                            <label>
                              <input type="checkbox"><span class="text-capitalize">Remember me</span>
                            </label>
                            </div>
                          </div>
                           <div class="col-xs-6 col-sm-6 col-md-6 text-right"> <a href="javascript:;" class="text-primary password-style">Forgot Password?</a> </div>
                          </div>
                        </div>
                      <div class="mrgn-b-lg">
                      <button type="submit" class="btn btn-success btn-block font-2x">Sign In</button>
                      </div>
                      <div class="text-center">
                        <h5 class="base-dark">Don't have an account ? <a href="javascript:;" class="text-primary">Sign Up</a></h5>
                      </div>
                      <div class="text-center"> <a class="back-home-btn" href="index-2.html"><i class="fa fa-long-arrow-left mrgn-r-xs">               
                      </i>Back To Home</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>



<%= link_to 'Singout', destroy_user_session_path %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<!-- <%#= render "devise/shared/links" %> -->






