<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h2 class="fs-title"><%= current_user.doctor? ? "Update Care Team Member" : "Create Care Team Member" %></h2>



<div class="container">
<%= form_for @assistant , :html => { :id => "msform" } do |f| %>

  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <%=  f.text_field :first_name, :class=>"form-control" , placeholder: "First Name" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <%=  f.text_field :last, :class=>"form-control" , placeholder: "Last Name" %>
      </div>
    </div>


  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <%=  f.text_field :email, :class=>"form-control" , placeholder: "Email" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <%=  f.text_field :password, :type=>"password" ,:class=>"form-control" , placeholder: "Password" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Password Confirmaton</label>
      <div class="col-sm-10">
        <%=  f.text_field :password_confirmation,required: true, :type=>"password" ,:class=>"form-control" , placeholder: "Password Confirmaton" %>
      </div>
    </div>



  <%= f.hidden_field :doctor_id, value: current_user.id  %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<br><br><br><br><br><br><br>



