<nav class="sidebar-nav collapse">
   <ul class="list-unstyled sidebar-menu">
      <li class="sidenav-heading text-uppercase">Dashboards</li>
      <li class="active opened">
         <a href="<%= assistantsdashboard_path %>"><i class="fa fa-user-md" aria-hidden="true"></i> <span>Dashboards</span></a>

      </li>
      <li class="sidenav-heading text-uppercase">Features</li>

      <li class="">
         <a href="<%= enroll_path %>"><i class="fa fa-user-plus" aria-hidden="true"></i><span>New Enrollment</span></a>
      </li>
      <li class="">
         <a href="<%= assistant_patientlist_path %>"><i class="fa fa-wheelchair" aria-hidden="true"></i><span>Patients List</span></a>

      </li>

      <li class="">
         <a href="<%= assistant_callcentre_path%>"><i class="fa fa-phone" aria-hidden="true"></i><span>Call Center</span></a>
      </li>


      <li class="">
         <a href="<%= billing_path %>"><i class="fa fa-dollar" aria-hidden="true"></i><span>Billing</span></a>
      </li>
      
      <li class="">
         <a href="<%= searchpatient_path %>"><i class="fa fa-search" aria-hidden="true"></i><span>Search Patient</span></a>
      </li>
      
      
      <li class="">
         <a href="<%= assistant_downloads_path%>"><i class="fa fa-download" aria-hidden="true"></i><span>Download Forms</span></a>
      </li>

   </ul>
</nav>