      <div class="bst-main">
         <div class="fyt-main-top"></div>
         <div class="bst-main-wrapper pad-all-md">
            <div class="bst-sidebar">
               <div class="bst-sidebar-back"> </div>
               <div class="bst-sidebar-nav-wrapper">
                  <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                     <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                     <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
                  </div>
                  <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                     <%= render "nav_planner" %>
                  </div>
                  
            </div>
         </div>
         <div class="bst-content-wrapper">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>Billing Dashboard</h3>
                     </li>
                  </ul>
               </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="bst-block pad-all-md">
                        <div class="bst-block-title mrgn-b-lg">
                           <div class="caption">
                           <h4 class="mrgn-all-none">Today Billed Patients </h4>
                           </div>
                           <div class="contextual-link">
                              <div class="dropdown">
                                 <a href="javascript:;" class="base-dark" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
                                 <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                                    <li>
                                       <a class="test" href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                    </li>
                                    <li>
                                       <a class="test" href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                    </li>
                                    <li>
                                       <a class="test" href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <% if @patients.present? %>
                           <div class="bst-block-content">
                              <div class="table-responsive">
                                 <table class="table table-hover table-middle th-fw-light mrgn-b-none">
                                    <thead>
                                       <tr>
                                          <th class="text-center"></th>
                                          <th class="text-center">Name</th>
                                          <th class="text-center">Contact</th>
                                          <th class="text-center">Eligibility</th>
                                          <th class="text-center">Amount</th>
                                          <th class="text-center">Notes</th>
                                          <th class="text-center">Bill Status</th>
                                          <th class="text-center">Total Mins</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    <% @patients.each do |p| %>
                                       <tr id="patientRecord-<%= p.appointments.last.id %>">
                                          <td class="text-center">
                                             <span class="<%= risk_factor_color(p.rf) %>"></span>            
                                          </td>
                                          <td class="text-center"><%= p.name %></td>
                                          <td class="text-center"><%= %>234-987-9876</td>
                                          <td class="text-center"><%= p.appointments.last.eligibility %></td>
                                          <td class="text-center">$<%= p.appointments.last.amount %></td>
                                          <td class="text-center"><%= p.appointments.last.bill_notes %></td>
                                          <td class="text-center"><%= p.appointments.last.bill_status %></td>
                                          <td class="text-center"><%= p.appointments.last.total_mins %></td>
                                          <td>
                                             <%= link_to '',assistant_billedpatient_edit_path(key: p.appointments.last.id), class: "fa fa-edit mrgn-r-sm", remote: true %>
                                          </td>
                                       </tr>
                                 
                                     <% end %>
                                     

                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        <% else %>
                          <span style="margin-left: 4%"> NO Patient Found. </span>          
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%= render "shared/footer" %>
