<div class="bst-main">
   <div class="fyt-main-top"></div>
   <div class="bst-main-wrapper pad-all-md">
      <div class="bst-sidebar">
         <div class="bst-sidebar-back"> </div>
         <div class="bst-sidebar-nav-wrapper">
            <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
               <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
               <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
            </div>
            <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
              <%= render "nav_planner" %>
            </div>
           
         </div>
      </div>
      <div class="bst-content-wrapper">
         <div class="bst-content">
            <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item text-capitalize">
                     <h3>Care Team's Dashboard</h3>
                  </li>
               </ul>
            </div>
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="bst-block pad-all-md">
                     <div class="bst-block-title mrgn-b-lg">
                        <div class="caption">
                           <div>
                            <h4 class="right mrgn-all-none">Patient List</h4>
                           <button class="" onclick="window.location.href='<%= assistant_callcentre_today_path %>'" type="button">Today Calls = <span class="today-calls-count"><%= today_calls_count %></span></button>
                           <button class="" onclick="window.location.href='<%= assistant_callcentre_currentmonth_path %>'" type="button">Current Month Calls = <span class="monthly-calls-count"><%=monthly_calls_count %></span></button>
                         </div>
                         <style>
                           .left{display:inline-block;margin-left: 20px}
                           .right{display:inline-block; float:left}</style>
                        </div>
                        <div class="contextual-link">
                           <div class="dropdown">
                              <a href="javascript:;" class="base-dark" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
                              <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                                 <li>
                                    <a class="test" href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                 </li>
                                 <li>
                                    <a class="test" href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                 </li>
                                 <li>
                                    <a class="test" href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <% if @patients.present? %>
                        <div class="bst-block-content">
                           <div class="table-responsive">
                              <table class="table table-hover table-middle th-fw-light mrgn-b-none">
                                 <thead>
                                    <tr>
                                       <th>  </th>
                                       <th>Name</th>
                                       <th>Contact</th>
                                       <th class="text-center">Care Plan</th>
                                       <th class="text-center">Last Call</th>
                                       <th class="text-center">Time Start/Stop </th>
                                       <th class="text-center">Time </th>
                                       <th class="text-center">Code</th>
                                       <th class="text-center">Notes</th>
                                       <th class="text-center">Today Mins</th>
                                       <th class="text-center">Total Mins</th>
                                       <th class="text-center">Category</th>
                                       <th class="text-center">Save</th>
                                       <th class="text-center">Bill</th>

                                    </tr>
                                 </thead>
                                 <tbody id = "bodytable">
                                    <%=  render partial: "shared/call_form" , locals: {patients: @patients}  %>

                                 </tbody>
                              </table>
                           </div>
                        </div>
                     <% else %>
                        <span style="margin-left: 4%;"> NO Patient Found. </span>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<%= render "shared/footer" %>
