      <div class="bst-main">
         <div class="fyt-main-top"></div>
         <div class="bst-main-wrapper pad-all-md">
            <div class="bst-sidebar">
               <div class="bst-sidebar-back"> </div>
               <div class="bst-sidebar-nav-wrapper">
                  <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                     <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                     <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
                  </div>
                  <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                     <%= render "nav_planner" %>
                  </div>
                 

               </div>
            </div>
            <div class="bst-content-wrapper">
               <div class="bst-content">
                  <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                     <ul class="breadcrumb">
                        <li class="breadcrumb-item text-capitalize">
                           <h3>Care Team's Dashboard</h3>
                        </li>
                     </ul>
                  </div>
        
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="bst-block pad-all-md">
                           <div class="bst-block-title mrgn-b-lg">
                              <div class="caption">
                                 <div>
                                   <h4 class="right mrgn-all-none">Current Month Patient Call List</h4>
                                </div>
                                <style>
                                 .left{display:inline-block;margin-left: 20px}
                                 .right{display:inline-block; float:left}
                              </style>
                           </div>
                           <div class="contextual-link">
                              <div class="dropdown">
                                 <a href="javascript:;" class="base-dark" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
                                 <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                                    <li>
                                       <a class="test" href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                    </li>
                                    <li>
                                       <a class="test" href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                    </li>
                                    <li>
                                       <a class="test" href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <% if @patients.present? %>
                           <div class="bst-block-content">
                              <div class="table-responsive">
                                 <table class="table table-hover table-middle th-fw-light mrgn-b-none">
                                    <thead>
                                       <tr>
                                          <th>  </th>
                                          <th class="text-center">Name</th>
                                          <th class="text-center">Contact</th>
                                          <th class="text-center">Notes</th>
                                          <th class="text-center">Category</th>
                                          <th class="text-center">Call Time</th>     
                                          <th class="text-center">Last Call</th>
                                          <th class="text-center">Total Mins</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% @patients.each do |p| %>
                                       <tr>
                                          <td>
                                             <span class="<%= risk_factor_color(p.rf) %>"></span>            
                                          </td>
                                          <td class="text-center"><%= p.name %></td>
                                          <td class="text-center">234-987-9876</td>
                                         
                                          <% if p.appointments.last.timelogs.present? %>
                                             <td class="text-center">
                                                <% p.appointments.last.timelogs.each do |log| %>
                                                   <ul>
                                                      <li>
                                                         <%= log.notes if log.notes.present? %><br>
                                                      </li>
                                                   </ul>
                                                <% end %>
                                             </td>
                                             <td class="text-center">
                                                <% p.appointments.last.timelogs.each do |log| %>
                                                   <ul>
                                                      <li>
                                                         <%= log.category if log.category.present? %>
                                                      </li>
                                                   </ul>
                                                <% end %>
                                             </td>
                                             <td class="text-center">
                                                <% p.appointments.last.timelogs.each do |log| %>
                                                   <ul>
                                                      <li>
                                                         <%= log.call_time if log.call_time.present? %>
                                                      </li>
                                                   </ul>
                                                <% end %>
                                             </td>
                                          <% end %> 
                                           
                                          <td class="text-center"><%= p.appointments.last.last_call.strftime("%m/%d/%Y") %></td>
                                          <td class="text-center"><span class="<%= time_box_equal_and_greater_than_20(p.appointments.last.total_mins)  %>"><%= p.appointments.last.total_mins %></td>
                                       </tr>
                                       <% end %>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        <% else %>
                           <span style="margin-left: 4%"> NO Patient Found. </span>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <%= render "shared/footer" %>
