
<div class="bst-main">
   <div class="fyt-main-top"></div>
   <div class="bst-main-wrapper pad-all-md">
      <div class="bst-sidebar">
         <div class="bst-sidebar-back"> </div>
         <div class="bst-sidebar-nav-wrapper">
            <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
               <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
               <div class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></div>
            </div>
            <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
               <%= render "nav_planner" %>
            </div>
           
           <!--  <div class="bst-sidebar-link mrgn-b-sm bg-white">
               <a href="users-list.html"> <i class="fa fa-user mrgn-r-sm"> </i> <span class="closed-menu-title">New Users</span> <span class="pull-right badge badge-warning">5</span> </a>
            </div>
            <div class="bst-sidebar-link mrgn-b-sm bg-white">
               <a href="users-list.html"> <i class="fa fa-clock-o mrgn-r-sm"> </i> <span class="closed-menu-title">Online</span> <span class="pull-right badge badge-success">450</span> </a>
            </div>
            <div class="bst-sidebar-link mrgn-b-sm bg-white">
               <a href="ecommerce-order.html"> <i class="fa fa-credit-card mrgn-r-sm"> </i> <span class="closed-menu-title">Payment due</span> <span class="pull-right badge badge-danger">9</span> </a>
            </div> -->
         </div>
      </div>
      <div class="bst-content-wrapper">
         <div class="bst-content">
            <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item text-capitalize">
                     <h3>Care Team's Dashboard</h3>
                  </li>
               </ul>
            </div>
            

          
<div class="bst-full-block inner-acccordians">
<div class="panel panel-inverse mrgn-b-none">
<div class="panel-heading">
<div class="row">
<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
<h3 class="text-capitalize mrgn-all-none">Downloads</h3> </div>
<div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
<div class="tab-icon pull-right">
<div class="dropdown display-ib"> <a href="javascript:;" class="mrgn-r-xs" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg fa-inverse"></i></a>
<ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
<li>
<a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
</li>
<li>
<a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
</li>
<li>
<a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
</li>
</ul>
</div>
<a href="javascript:;" data-toggle="collapse" data-target="#panel-drop-2"> <i class="fa fa-angle-down fa-lg fa-inverse"></i> </a>
</div>
</div>
</div>
</div>
<div id="panel-drop-2" class="collapse in">
<div class="pad-all-md">
<div class="panel-group" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading pos-relative pad-all-md" role="tab" id="heading-1">
<h4 class="panel-title">
<a class="accordion-toggle show collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
<span>Download Chronic Care Patient Form</span>
</a>
</h4> </div>
<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1" aria-expanded="false" style="height: 0px;">
<div class="panel-body">



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bst-sm-desktop-half">
<div class="bst-full-block">
<div class="bst-block-title pad-lr-lg pad-tb-md clearfix">
<div class="bst-block-title">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
<h4 class="pull-left mrgn-b-none">
Download Forms
</h4> </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
<a class="display-ib" href="#/">  </a>
</div>
</div>
</div>
</div>
<div class="bst-reports border-list-top">
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Welcome Letter and Visit Checklist.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/gpJOWrlskWXyBJM/Welcome%20Letter%20and%20Visit%20Checklist.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Letter to Patients with 2+CD.docx</p>  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/mRO3W0hJAksxfK3/Letter%20to%20Patients%20with%202%2BCD.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Informed Consent for Provision of Chronic Care Management</p> </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/cS9O2Th2tEGgzJc/Informed%20Consent%20for%20Provision%20of%20Chronic%20Care%20Management.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i></span> </div>
<p class="mrgn-b-none">Chronic Care Management Stop Form.docx</p>  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/N3uEVRNYMDLBGY4/Chronic%20Care%20Management%20Stop%20Form.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>






</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading pos-relative pad-all-md" id="heading-2">
<h4 class="panel-title">
<a class="accordion-toggle show collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false"> <span>Download Blood Sugar Triage Protocols</span></a>
</h4> </div>
<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2" aria-expanded="false" style="height: 0px;">
<div class="panel-body">
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 bst-sm-desktop-half">
<div class="bst-full-block">
<div class="bst-block-title pad-lr-lg pad-tb-md clearfix">
<div class="bst-block-title">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
<h4 class="pull-left mrgn-b-none">
Blood Sugar Triage After Office Hour Prtocols
</h4> </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
<a class="display-ib" href="#/">  </a>
</div>
</div>
</div>
</div>
<div class="bst-reports border-list-top">
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Call EMS 911 Now Protocol.docx</p>  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/F92tEU9A7fkRjtl/Call%20EMS%20911%20Now%20Protocol.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Call PCP Now.docx</p> </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/tup9nJNohiIe24K/Call%20PCP%20Now.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>

<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Call PCP within 24 Hours.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/b3TtT9mYQp6L38t/Call%20PCP%20within%2024%20Hours.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>


<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Go to ED Now - After hours Protocol.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/uxF43lEs9OyfmWv/Go%20to%20ED%20Now%20-%20After%20hours%20Protocol.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>


<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Go to ED Now (or PCP triage).docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/1Fsx1bdnZ9RDj6h/Go%20to%20ED%20Now%20%28or%20PCP%20triage%29.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>

<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Home Care.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/6yyo4z0rOBvOji1/Home%20Care.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>

<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">List of Triage Protocols Care advice codes after hours.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/1Qyw1KhQAc3M4Ru/List%20of%20Triage%20Protocols%20Care%20advice%20codes%20after%20hours.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>

<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">See Physician within 4 Hours (or PCP triage).docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/OFmHrvC7MR7OlZj/See%20Physician%20within%204%20Hours%20%28or%20PCP%20triage%29.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>


<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">See Physician within 24 Hours.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/WSaYorkGxPtTp9u/See%20Physician%20within%2024%20Hours.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>



</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 bst-sm-desktop-half">
<div class="bst-full-block">
<div class="bst-block-title pad-lr-lg pad-tb-md clearfix">
<div class="bst-block-title">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
<h4 class="pull-left mrgn-b-none">
Blood Sugar Triage Office Hour Prtocols
</h4> </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
<a class="display-ib" href="#/">  </a>
</div>
</div>
</div>
</div>
<div class="bst-reports border-list-top">
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Diabetes - High Blood Sugar.docx</p>  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/t3VfFzWoduCyST1/Diabetes%20-%20High%20Blood%20Sugar.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Diabetes -Home Care Advice.docx</p> </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/9JewTzosKqppKen/Diabetes%20-Home%20Care%20Advice.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Diabetics -First Aid.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/23f1eTwpTQYcS8E/Diabetics%20-First%20Aid.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
<div class="element-list pad-lr-lg pad-tb-sm clearfix">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
<div class="clearfix">
<div class="pull-left mrgn-r-md text-warning report-file"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
<p class="mrgn-b-none">Diabetics -Sick Day Rules.docx</p></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
<a href="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/xcIumcX5bnWG5Al/Diabetics%20-Sick%20Day%20Rules.docx"> <i class="fa fa-download" aria-hidden="true"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>





</div>
</div>
</div>

</div>
</div>
</div>
</div>


         </div>
      </div>
   </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render "shared/footer" %>