<div class="bst-wrapper">
  
   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         <div class="bst-sidebar">
            <div class="bst-sidebar-back"> </div>
            <div class="bst-sidebar-nav-wrapper">
               <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                  <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                  <div class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></div>
               </div>
               <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                  <%= render "nav_planner" %>
               </div>
              
            </div>
         </div>
         <div class="bst-content-wrapper">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>Care Team's Dashboard</h3>
                     </li>
                  </ul>
               </div>
               <br><br><br><br><br>
               <h2>Create Patient Demographics</h2>
               <br>
               <%= form_for @patient , method: 'post' ,:html => { :id => "msform" } do |f| %>
               <div class="form-row">
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Member ID</label>
                     <%= f.text_field :medical_record_no, class: "form-control field1", required: true, placeholder: "Member ID" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">First Name</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="First Name"> -->
                     <%= f.text_field :first_name, required: true, placeholder: "First Name", class: "form-control field1" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">Last Name</label>
                     <!-- <input type="password" class="" id="inputPassword4" placeholder="Last Name"> -->
                     <%= f.text_field :last, required: true, placeholder: "Last Name", class: "form-control field1" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">DOB</label>
                     <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="mm/dd/yyyy"> -->
                     <%= f.text_field :dob, placeholder: "mm/dd/yyyy", class: "form-control field1", required: true %>
                  </div>
               </div>
              
               <div class="form-row">
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">Gender</label>
                     <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="40"> -->
                     <%= f.text_field :sex, placeholder: "Gender", class: "form-control field2" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Insurance</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="Healthfirst"> -->
                     <%= f.text_field :insurance, placeholder: "Insurance" , class: "form-control field3"%>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Language Preference</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="English,Spanish"> -->
                     <%= f.text_field :language_preference, placeholder: "Languare Preference", class: "form-control field2" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Web Enabled</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="Yes"> -->
                     <%= f.text_field :web_enabled, placeholder: "Web Enabled", class: "form-control field2" %>
                  </div>
               </div>



                <div class="form-row">
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">Age</label>
                     <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="40"> -->
                     <%= f.text_field :age, placeholder: "Age ( 45 )", required: true, class: "form-control field1" %><br>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Email</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="demo@email.com"> -->
                     <%= f.text_field :email, placeholder: "Email", class: "form-control field1", required: true %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Password</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="123456"> -->
                     <%= f.password_field :password, class: "form-control field1", autocomplete: "off", required: true, placeholder: "Password minimun 6 chars" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">Password Confirmation</label>
                     <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="123456"> -->
                     <%= f.password_field :password_confirmation, class: "form-control field1", autocomplete: "off", placeholder: "Confirm Password minimun 6 chars" %>
                  </div>
               </div>




               <br><br><br><br>
               
               <hr width="100%" size="30" style="color: #9cc222;background-color: #9cc222;height: 5px;" align="center">

               <div class="form-row">
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Clinical Manager</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="John"> -->
                     <%= f.text_field :clinical_manager, placeholder: "Clinical Manager", class: "form-control field2" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">Team Co-ordinator</label>
                     <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="Team"> -->
                     <%= f.text_field :clinical_team_coordinator, placeholder: "Clinical Team Co Ordinator", class: "form-control field2" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputEmail4" class="col-form-label">Care Team</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="Demo"> -->
                     <%= f.text_field :care_team, placeholder: "Care Team" , class: "form-control field3" %>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="inputPassword4" class="col-form-label">Medical Assistant</label>
                     <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="Yes"> -->
                     <%= f.text_field :ma, placeholder: "Medical Assistance", class: "form-control field3" %>
                  </div>
               </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="col-form-label">Patient Contact Number</label>
                      <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="40"> -->
                      <%= f.text_field :phone, placeholder: "", required: true, class: "form-control field1" %><br>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputEmail4" class="col-form-label">Patient Emergency Contact Number</label>
                      <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="demo@email.com"> -->
                      <%= f.text_field :emergency_phone, placeholder: "", class: "form-control field1", required: true %>
                    </div>
                  </div>


               <br><br><br><br><br><br>
               <h3></h3>
               <hr width="100%" size="30" style="color: #9cc222;
                  background-color: #9cc222;
                  height: 5px;" align="center">
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <label for="inputEmail4" class="col-form-label">Current Problems</label>
                     <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="HTN"> -->
                     <%= f.text_field :title, placeholder: "Current Problems", class: "form-control field4" %>
                  </div>
               </div>

               <br><br><br><br><br><br>
               <h3>Select Care Plan</h3>
               <hr width="100%" size="30" style="color: #9cc222;background-color: #9cc222;height: 5px;" align="center">
               <div style="text-align: left !important;">
                  <h5 class="fs-subtitle">Select Care Plan</h5>
                  <div class="checkbox" style="font-size: small">
                     <div class="row">
                        <div class="col-md-12">
                           <% Assistant::CARE_PLAN.each do |careplan| %>
                  <label class="category-select">
                    <%= check_box_tag "care_plan[]", careplan -%>
                    <%= careplan %>
                  </label>
                  <br><br>
                <% end %>
                        </div>
                     </div>
                  </div>
               </div>

               <br><br>
               <h3>Select Risk Factor</h3>
               <hr width="100%" size="30" style="color: #9cc222;background-color: #9cc222;height: 5px;" align="center">
               <div style="text-align: left !important;">
                  <h5 class="fs-subtitle">Risk Factors</h5>
                  <div class="checkbox" style="font-size: small">
                     <div class="row">
                        <div class="col-md-12">
                          <% Assistant::RISK_FACTOR.each do |value| %>
                             <label class="category-select">
                                <%= f.radio_button :rf, value, :required => true,:checked => (value == "LRF") %>
                                <%= value %>
                              </label>
                              <br><br>
                          <% end %>
                        </div>
                     </div>
                  </div>
               </div>

               <%= f.submit 'Submit',class: "btn btn-primary", id: "enroll-patient" %>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
  $(function() {
    $("#enroll-patient").click(function(){
        if($("input[name='care_plan[]']:checked").length < 2) {
          alert("Please Seclect at least any '2' Care Plans");
          return false
        }
      });
  });
</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%=  render "shared/footer" %>
</div>