
   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         <div class="bst-sidebar">
      <div class="bst-sidebar-back"> </div>
      <div class="bst-sidebar-nav-wrapper">
         <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
            <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
            <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
         </div>
         <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
            <%= render "nav_planner" %>
         </div>
        
      </div>
   </div>
         <div class="bst-content-wrapper">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>User Profile</h3>
                     </li>
                     <li class="breadcrumb-item"><a href="#/">Users</a></li>
                     <li class="breadcrumb-item"><a href="user-profile.html">User Profile</a></li>
                  </ul>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                     <div class="bst-full-block text-center">
                        <div class="pad-all-md">
                           <div class="pos-relative">
                              <div class="contextual-link">
                                 <div class="dropdown">
                                    <a href="javascript:;" class="more-btn" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">more<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu dropdown-icon dropdown-menu-right">
                                       <li>
                                          <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                       </li>
                                       <li>
                                          <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                       </li>
                                       <li>
                                          <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="mrgn-b-lg">
                           <%= image_tag "histroy-user-1.jpg", class: "simg-responsive img-circle display-ib", width: "140px", height: "140px"%>
                           </div>
                           <h3>Mukaram Harris</h3>
                           <p>DM</p>
                           <p>HTN</p>
                        </div>

                        <div class="text-left pad-all-md">
                           <a class="btn-block btn btn-primary mrgn-b-md" href="<%= patient_create_dm_path %>">Create DM Care Plan</a>

                            <a class="btn-block btn btn-success mrgn-b-md" href="<%= patient_create_htn_path %>">Create HTN Care Plan</a>

                            <a class="btn-block btn btn-primary mrgn-b-md" href="">Create COPD Care Plan</a>

                            <a class="btn-block btn btn-success mrgn-b-md" href="">Create Asthma Care Plan</a>
                             <a class="btn-block btn btn-primary mrgn-b-md" href="">Create Obesity Care Plan</a>

                            <a class="btn-block btn btn-success mrgn-b-md" href="">Create Heart Failure Care Plan</a>

                           

                            <a class="btn-block btn btn-primary mrgn-b-md" href="">Create Mental Health Care Plan</a>

                           
                             <a class="btn-block btn btn-success mrgn-b-md" href="">Create Schaemic Health Disease Care Plan</a>

                            
                        </div>

                        <div class="text-left pad-all-md">
                          
                        </div>
                       
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                     <div class="bst-block">
                        <div class="mrgn-b-lg">
                           <div class="profile-tabs line-slide-tab">
                              <ul class="nav nav-tabs no-border">
                                 <li class="active"><a data-toggle="tab" href="#profile-tab" aria-expanded="true">Demographics</a></li>
                                 <li class=""><a data-toggle="tab" href="#diagnosis" aria-expanded="false">Diagnosis</a></li>
                                 <li class=""><a data-toggle="tab" href="#timeline-tab" aria-expanded="false">Diabetic Care Plan</a></li>
                                 <li class=""><a data-toggle="tab" href="#hypertention-tab" aria-expanded="false">Hypertention Care Plan</a></li>
                                 <li class=""><a data-toggle="tab" href="#controlchart-tab" aria-expanded="false">Control Chart</a></li>
                                 <li class=""><a data-toggle="tab" href="#activity-tab" aria-expanded="false">Time Logs</a></li>
                                 <li class=""><a data-toggle="tab" href="#bill-tab" aria-expanded="false">Bill Logs</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="tab-content">
                           <div id="profile-tab" class="tab-pane fade active in">
                              <div class="mrgn-b-lg">
                                 <h5 class="mrgn-b-md"><span class="display-ib mrgn-r-sm"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>Patient Demographics</h5>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="mrgn-b-lg">
                                       <div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Sex</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Male</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">DOB</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>09/22/1990</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Age</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>27 Years</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Language Preference</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>English</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Web Enabled</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Yes</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Clinical Manager</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Demo Person</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Contact Number</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>343-434-2345</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="mrgn-b-lg">
                                       <div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Insurance</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Healthfirst</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Care Team</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Demo Team</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Member id</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>45435</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Enrollment</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>03/12/2017</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Medical Assistance</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Demo Assistance</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Clinical Team Coordinator</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>Demo Person</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="timeline-layout pos-relative">
                                             <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                   <h6 class="text-primary">Emergency Contact Number</h6>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                   <p>323-343-3423</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="diagnosis" class="tab-pane fade">
                              <div class="mrgn-b-lg">
                                 <h5 class="mrgn-b-md"><span class="display-ib mrgn-r-sm"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>Primary Diagnosis</h5>
                              </div>
                              <div class="row">
                                 <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="bst-block overflow-wrapper" style="background: #e2f5ff">
                                       <div class="row" style="background: #e2f5ff">
                                          <div class="" >
                                             <h4 class="">Care Plans</h4>
                                             <h5 class="mrgn-b-none fw-normal">DM</h5>
                                             <h5 class="mrgn-b-none fw-normal">HTN</h5>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="bst-block overflow-wrapper" style="background: #e2f5ff">
                                       <div class="row">
                                          <div class="">
                                             <h4 class="">CURRENT PROBLEMS</h4>
                                             <h5 class="mrgn-b-none fw-normal">Schduled Change Request</h5>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="controlchart-tab" class="tab-pane fade">
                              <div class="row">
                                 <div class="col-md-12 col-lg-12">
                                    <div class="bst-block">
                                       <div class="bst-block-title mrgn-b-md">
                                          <div class="pos-relative">
                                             <div class="caption">
                                                <h3 class="text-capitalize">Control Chart at Each Visit</h3>
                                             </div>
                                             <div class="contextual-link">
                                                <div class="dropdown">
                                                   <a href="javascript:;" class="gray" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
                                                   <ul class="dropdown-menu dropdown-arrow dropdown-menu dropdown-arrow dropdown-menu-right">
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                                      </li>
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                                      </li>
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="bst-block-content">
                                          <div class="table-responsive">
                                             <table class="table table-striped table-middle table-hover">
                                                <thead>
                                                   <tr class="bg-success">
                                                      <th>Date of Service</th>
                                                      <th class="text-center">A1C</th>
                                                      <th class="text-center">BP</th>
                                                      <th class="text-center">LDL</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>09/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">6.0</span></td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">140/80</span></td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">67</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>08/11/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">9.0</span></td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">150/90</span></td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">120</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>09/11/2017</td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">8.0</span></td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">120/80</span></td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">150</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">6.0</span></td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">120/80</span></td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">67</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>07/21/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">9.0</span></td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">130/80</span></td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">67</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>06/11/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">6.0</span></td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">150/80</span></td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">140</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>10/14/2017</td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">8.0</span></td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">150/80</span></td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">90</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>10/30/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">6.0</span></td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">150/80</span></td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">120</span></td>
                                                   </tr>


                                                  
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                <!--  <div class="col-md-12 col-lg-4">
                                    <div class="bst-block">
                                       <div class="bst-block-title mrgn-b-md">
                                          <div class="pos-relative">
                                             <div class="caption">
                                                <h3 class="text-capitalize">BP at Each Visit</h3>
                                             </div>
                                             <div class="contextual-link">
                                                <div class="dropdown">
                                                   <a href="javascript:;" class="gray" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
                                                   <ul class="dropdown-menu dropdown-arrow dropdown-menu dropdown-arrow dropdown-menu-right">
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                                      </li>
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                                      </li>
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="bst-block-content">
                                          <div class="table-responsive">
                                             <table class="table table-striped table-middle table-hover">
                                                <thead>
                                                   <tr class="bg-success">
                                                      <th>DOS</th>
                                                      <th class="text-center">Result</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">129/80</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">110/89</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">130/90</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-warning btn-rounded">120/80</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">126/90</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>12/23/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">130/85</span></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div> -->
                               <!--   <div class="col-md-12 col-lg-4">
                                    <div class="bst-block">
                                       <div class="bst-block-title mrgn-b-md">
                                          <div class="pos-relative">
                                             <div class="caption">
                                                <h3 class="text-capitalize">LDL at Each Visit</h3>
                                             </div>
                                             <div class="contextual-link">
                                                <div class="dropdown">
                                                   <a href="javascript:;" class="gray" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
                                                   <ul class="dropdown-menu dropdown-arrow dropdown-menu dropdown-arrow dropdown-menu-right">
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                                      </li>
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                                      </li>
                                                      <li>
                                                         <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="bst-block-content">
                                          <div class="table-responsive">
                                             <table class="table table-striped table-middle table-hover">
                                                <thead>
                                                   <tr class="bg-success">
                                                      <th>DOS</th>
                                                      <th class="text-center">Result</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>09/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">57</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>07/21/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">121</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>09/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">57</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>07/21/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">121</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>09/23/2017</td>
                                                      <td class="text-center"><span class="label label-success btn-rounded">57</span></td>
                                                   </tr>
                                                   <tr>
                                                      <td>07/21/2017</td>
                                                      <td class="text-center"><span class="label label-danger btn-rounded">121</span></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div> -->
                              </div>
                           </div>
                           <div id="timeline-tab" class="tab-pane fade">
                              <div class="">
                                 <div class="">
                                    <div class="bst-block-title mrgn-b-lg">
                                       <div class="caption">
                                          <h3 class="text-capitalize">Diabetes Mellitus Care Plan</h3>
                                          <h6 class="mrgn-b-none fw-normal">Created On : 09/23/2017</h6>
                                          <h6 class="mrgn-b-none fw-normal">Last Updated on : 10/12/2017</h6>
                                       </div>
                                       <div class="contextual-link">
                                          <div class="dropdown">
                                             <a href="javascript:;" class="base-dark" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
                                             <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                                                <li>
                                                   <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                                </li>
                                                <li>
                                                   <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                                </li>
                                                <li>
                                                   <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="bst-block-content">
                                       <div class="table-responsive">
                                          <div class="unseen">
                                             <table class="table table-hover table-bordered table-striped">
                                                <thead>
                                                   <tr class="bg-primary">
                                                      <th>Component</th>
                                                      <th>Explanation</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>Treatment Goals</td>
                                                      <td>● Control Diabetes A1c% below 8<br>
                                                         ●  Control Blood pressure to resting blood pressure of 135/85 or below ( if blood pressure is greater than 135/90 in last note)<br>
                                                         ●  Control LDL (if LDL is greater Than 100)<br>
                                                         ●  Reduce Weight (give goal BMI amount  ex 27 or reduction of 5)( if BMI is greater than 28)
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Potential Barriers to Care</td>
                                                      <td>
                                                         ● Poor Compliance with medication<br>
                                                         ●  Poor Compliance with monitoring blood glucose monitoring<br>
                                                         ●  Poor compliance with diet<br>
                                                         ●  Needs help with ADLs<br>
                                                         ●  Poor memory<br>
                                                         ●  No barriers
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Strategy for Barriers</td>
                                                      <td>
                                                         ● Consult Home Service for Assistance with ADLs<br>
                                                         ●  Improved medication compliance by referring home health services. <br>
                                                         ●  Home health to monitor blood glucose<br>
                                                         ●  Improve medication compliance by reminder calls for refills<br>
                                                         ●  Call by care team to remind patients to check blood glucose and note any glucose recordings<br>
                                                         ●  Improve diet with home nutrition counseling. <br>
                                                         ●  Referral to Diabetic Educator
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Patient Preferences and Functional Lifestyle/Goals</td>
                                                      <td>
                                                         ●  To live a healthy lifestyle <br>
                                                         ●  To lose weight <br>
                                                         ●  Increase stamina<br>
                                                         ●  Prevent having to take additional medicine<br>
                                                         ●  Avoid Blindness and Amputation. <br>
                                                         ●  Avoid heart disease<br>
                                                         ●  Avoid Insulin <br>
                                                   </tr>
                                                   <tr>
                                                      <td>Other Treatment </td>
                                                      <td>
                                                         ●  Low carb diet, comprising of less than 30 gram carbs approximately<br>
                                                         ●  Calorie reduction diet<br>
                                                         ●  Low cholesterol diet<br>
                                                         ●  Low fat diet<br>
                                                         ●  Low salt diet<br>
                                                         ●  Exercise 30 min 4 x day or as tolerable<br>
                                                         ●  Monitor glucose 3 x day<br>
                                                         ●  Monitor BP every 2 days<br>
                                                   </tr>
                                                   <tr>
                                                      <td>Patient Education</td>
                                                      <td>
                                                         ●  Low carb dieting<br>
                                                         ●  Low calorie dieting<br>
                                                         ●  Tobacco cessation education<br>
                                                         ●  Glucose monitoring education<br>
                                                         ●  Foot monitoring education<br>
                                                   </tr>
                                                   <tr>
                                                      <td>Self-Care Plan</td>
                                                      <td>
                                                         ●  Carb Counting Diary and asked for patient to monitor blood write carbs and maintain to less than (30-40)carbs<br>
                                                         ●  Given Diabetic Glucose Diary and told to monitor Blood Glucose monitoring. <br>
                                                         ●  Patient is given tobacco craving diary and ask to note down, what and when his /her cravings are.<br>
                                                         ●  Go for a walk at lunch-time<br>
                                                         ●  Get some exercise regularly<br>
                                                         ●  Monitor intake calorie in diary if in diet to maintain less than 1800 calories per day<br>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Care Team Reporting </td>
                                                      <td>
                                                         ●  Care plan given to patient<br>
                                                         ●  Care plan given to family<br>
                                                         ●  Care plan mailed to patient address
                                                   </tr>
                                                   <tr>
                                                      <td>Referring and Outside Providers </td>
                                                      <td>
                                                         ●  Dr. Ranga Krishna, MD Neurology<br>
                                                         ●  Dr. Bhambhani Ghanshyam, MD Cardiology <br>
                                                         ●  Deborah Rosenberg, Nutritionist<br>
                                                         ●  Edward Braunstein MD, Ophthalmology<br>
                                                         ●  Dr. Minski Endocrine<br>
                                                         ●  St Luke’s Endocrine<br>
                                                         ●  Home Service<br>
                                                         ●  Home Nursing<br>
                                                   </tr>
                                                   <tr>
                                                      <td>How to reach us: </td>
                                                      <td>
                                                         ●  (Care Coordinator Number 3477364695)<br>
                                                   </tr>
                                                   <tr>
                                                      <td>SIGNATURE OF PHYSICIAN
                                                      </td>
                                                      <td>
                                                         ●  M.M. HAQUE MD
                                                         <br>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="hypertention-tab" class="tab-pane fade">
                              <div class="">
                                 <div class="">
                                    <div class="bst-block-title mrgn-b-lg">
                                       <div class="caption">
                                          <h3 class="text-capitalize">Hypertention Care Plan</h3>
                                          <h6 class="mrgn-b-none fw-normal">Created On : 09/23/2017</h6>
                                          <h6 class="mrgn-b-none fw-normal">Last Updated on : 10/12/2017</h6>
                                       </div>
                                       <div class="contextual-link">
                                          <div class="dropdown">
                                             <a href="javascript:;" class="base-dark" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
                                             <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                                                <li>
                                                   <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                                </li>
                                                <li>
                                                   <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                                </li>
                                                <li>
                                                   <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="bst-block-content">
                                       <div class="table-responsive">
                                          <div class="unseen">
                                             <table class="table table-hover table-bordered table-striped">
                                                <thead>
                                                   <tr class="bg-primary">
                                                      <th>Component</th>
                                                      <th>Explanation</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>Treatment Goals</td>
                                                      <td>● Control Diabetes A1c% below 8<br>
                                                         ●  Control Blood pressure to resting blood pressure of 135/85 or below ( if blood pressure is greater than 135/90 in last note)<br>
                                                         ●  Control LDL (if LDL is greater Than 100)<br>
                                                         ●  Reduce Weight (give goal BMI amount  ex 27 or reduction of 5)( if BMI is greater than 28)
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Potential Barriers to Care</td>
                                                      <td>
                                                         ● Poor Compliance with medication<br>
                                                         ●  Poor Compliance with monitoring blood glucose monitoring<br>
                                                         ●  Poor compliance with diet<br>
                                                         ●  Needs help with ADLs<br>
                                                         ●  Poor memory<br>
                                                         ●  No barriers
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Strategy for Barriers</td>
                                                      <td>
                                                         ● Consult Home Service for Assistance with ADLs<br>
                                                         ●  Improved medication compliance by referring home health services. <br>
                                                         ●  Home health to monitor blood glucose<br>
                                                         ●  Improve medication compliance by reminder calls for refills<br>
                                                         ●  Call by care team to remind patients to check blood glucose and note any glucose recordings<br>
                                                         ●  Improve diet with home nutrition counseling. <br>
                                                         ●  Referral to Diabetic Educator
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Patient Preferences and Functional Lifestyle/Goals</td>
                                                      <td>
                                                         ●  To live a healthy lifestyle <br>
                                                         ●  To lose weight <br>
                                                         ●  Increase stamina<br>
                                                         ●  Prevent having to take additional medicine<br>
                                                         ●  Avoid Blindness and Amputation. <br>
                                                         ●  Avoid heart disease<br>
                                                         ●  Avoid Insulin <br>
                                                   </tr>
                                                   <tr>
                                                      <td>Other Treatment </td>
                                                      <td>
                                                         ●  Low carb diet, comprising of less than 30 gram carbs approximately<br>
                                                         ●  Calorie reduction diet<br>
                                                         ●  Low cholesterol diet<br>
                                                         ●  Low fat diet<br>
                                                         ●  Low salt diet<br>
                                                         ●  Exercise 30 min 4 x day or as tolerable<br>
                                                         ●  Monitor glucose 3 x day<br>
                                                         ●  Monitor BP every 2 days<br>
                                                   </tr>
                                                   <tr>
                                                      <td>Patient Education</td>
                                                      <td>
                                                         ●  Low carb dieting<br>
                                                         ●  Low calorie dieting<br>
                                                         ●  Tobacco cessation education<br>
                                                         ●  Glucose monitoring education<br>
                                                         ●  Foot monitoring education<br>
                                                   </tr>
                                                   <tr>
                                                      <td>Self-Care Plan</td>
                                                      <td>
                                                         ●  Carb Counting Diary and asked for patient to monitor blood write carbs and maintain to less than (30-40)carbs<br>
                                                         ●  Given Diabetic Glucose Diary and told to monitor Blood Glucose monitoring. <br>
                                                         ●  Patient is given tobacco craving diary and ask to note down, what and when his /her cravings are.<br>
                                                         ●  Go for a walk at lunch-time<br>
                                                         ●  Get some exercise regularly<br>
                                                         ●  Monitor intake calorie in diary if in diet to maintain less than 1800 calories per day<br>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>Care Team Reporting </td>
                                                      <td>
                                                         ●  Care plan given to patient<br>
                                                         ●  Care plan given to family<br>
                                                         ●  Care plan mailed to patient address
                                                   </tr>
                                                   <tr>
                                                      <td>Referring and Outside Providers </td>
                                                      <td>
                                                         ●  Dr. Ranga Krishna, MD Neurology<br>
                                                         ●  Dr. Bhambhani Ghanshyam, MD Cardiology <br>
                                                         ●  Deborah Rosenberg, Nutritionist<br>
                                                         ●  Edward Braunstein MD, Ophthalmology<br>
                                                         ●  Dr. Minski Endocrine<br>
                                                         ●  St Luke’s Endocrine<br>
                                                         ●  Home Service<br>
                                                         ●  Home Nursing<br>
                                                   </tr>
                                                   <tr>
                                                      <td>How to reach us: </td>
                                                      <td>
                                                         ●  (Care Coordinator Number 3477364695)<br>
                                                   </tr>
                                                   <tr>
                                                      <td>SIGNATURE OF PHYSICIAN
                                                      </td>
                                                      <td>
                                                         ●  M.M. HAQUE MD
                                                         <br>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="activity-tab" class="tab-pane fade">
                              <div class="table-border-top bst-full-block pos-relative">
                                 <div class="pad-all-lg text-capitalize">
                                    <div class="pos-relative">
                                       <div class="caption">
                                          <h5 class="mrgn-all-none">Time Log</h5>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <form action="javascript:;" method="post">
                                       <table class="data-table table-striped mrgn-all-none text-capitalize th-pad-all-sm td-pad-all-sm th-fw-light" style="width:100%;">
                                          <thead>
                                             <tr>
                                                <th>Date</th>
                                                <th> Time Start </th>
                                                <th> Time Stop </th>
                                                <th> Time </th>
                                                <th> Notes </th>
                                               
                                                <th> Edit/Del </th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>08/22/2017</td>
                                                <td> 13:43:34 </td>
                                                <td> 13:50:22 </td>
                                                <td> 7 mins </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </form>
                                 </div>
                              </div>
                             
                       
                           </div>

                            <div id="bill-tab" class="tab-pane fade">
                              <div class="table-border-top bst-full-block pos-relative">
                                 <div class="pad-all-lg text-capitalize">
                                    <div class="pos-relative">
                                       <div class="caption">
                                          <h5 class="mrgn-all-none">Bill Log</h5>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <form action="javascript:;" method="post">
                                       <table class="data-table table-striped mrgn-all-none text-capitalize th-pad-all-sm td-pad-all-sm th-fw-light" style="width:100%;">
                                          <thead>
                                             <tr>
                                                <th>Date</th>
                                                <th>Eligibility </th>
                                                <th>Bill Status</th>
                                                <th>Amount </th>
                                                <th>Notes </th>
                                               
                                                <th> Edit/Del </th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Not Eligible </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             <tr>
                                                <td> 08/22/2017 </td>
                                                <td> Eligible </td>
                                                <td> Received </td>
                                                <td> $43 </td>
                                                <td> This is a sample text. </td>
                                               
                                                <td><a href="javascript:;"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                   <a href="javascript:;"><i class="fa fa-times text-danger"></i></a>
                                                </td>
                                             </tr>

                                             
                                          </tbody>
                                       </table>
                                    </form>
                                 </div>
                              </div>
                             
                       
                           </div>   

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%= render 'shared/footer' %>
