
   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         <div class="bst-sidebar">
            <div class="bst-sidebar-back"> </div>
            <div class="bst-sidebar-nav-wrapper">
               <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                  <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                  <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
               </div>
               <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                  <%= render "nav_planner" %>
               </div>
               
            </div>
         </div>
         <div class="bst-content-wrapper">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>Reporting Dashboard</h3>
                     </li>
                  </ul>
               </div>
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="bst-block">
                     <div class="bst-block-title mrgn-b-lg">
                        <h3>Select Report</h3>
                     </div>
                     <div class="mrgn-b-md">
                     <a href="billing_report.html">
                        <button type="button" class="btn btn-outline-primary hvr-rectangle-out btn-lg mrgn-b-xs"><i class="fa fa-file-text-o fa-lg"></i> &nbsp;&nbsp;&nbsp;Billing Reports</button>
                        </a>
                        <button type="button" class="btn btn-outline-success hvr-rectangle-out btn-lg mrgn-b-xs"><i class="fa fa-file-text-o fa-lg"></i> &nbsp;&nbsp;&nbsp;Batch History Report</button>
                        
                        <button type="button" class="btn btn-outline-info hvr-rectangle-out btn-lg mrgn-b-xs"><i class="fa fa-file-text-o fa-lg"></i> &nbsp;&nbsp;&nbsp;Charge Lag Report</button>
                        
                        <button type="button" class="btn btn-outline-secondary hvr-rectangle-out btn-lg mrgn-b-xs"><i class="fa fa-file-text-o fa-lg"></i> &nbsp;&nbsp;&nbsp;Re-Admission Report</button>
                        
                        <button type="button" class="btn btn-outline-success hvr-rectangle-out btn-lg mrgn-b-xs"><i 
                        class="fa fa-file-text-o fa-lg"></i> &nbsp;&nbsp;&nbsp;Provider Metric Reports</button>
                     
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<%= render "shared/footer" %>
