   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         <div class="bst-sidebar">
            <div class="bst-sidebar-back"> </div>
            <div class="bst-sidebar-nav-wrapper">
               <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                  <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                  <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
               </div>
               <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                  <%= render "nav_planner" %>
               </div>
              
         </div>
      </div>
      <div class="bst-content-wrapper">
         <div class="bst-content">
            <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item text-capitalize">
                     <h3>Care Team's Dashboard</h3>
                  </li>
               </ul>
            </div>
            <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="bst-block">
                  <div class="bst-block-title mrgn-b-lg">
                     <h3>Filter Patients</h3>
                  </div>
                  <div class="bst-block-content">
                     <div class="table-responsive">
                        <table class="js-dynamitable table table-bordered">
                           <thead>
                              <tr>
                                 <th>Member ID</th>
                                 <th>Name</th>
                                 <th>DOB</th>
                                 <th>Month</th>
                                 <th>Insurance</th>
                                 <th>Last Call</th>
                                 <th>Care Plan</th>
                                 <th># of Mins</th>
                                 <th>Eligibility</th>
                                 <th>Bill</th>
                              </tr>
                              <tr>
                              <%= form_tag searchpatient_path, method: :get  do %>
                                 <th>    
                                    <%= text_field_tag :member_id, nil, placeholder: "4JH23", class: "js-filter form-control" %>
                                 </th>
                                 <th>
                                  <%= text_field_tag :name, nil, placeholder: "John Max", class: "js-filter form-control" %>
                                 </th>
                                 <th>
                                 <%= text_field_tag :dob, nil, placeholder: "yyyy-mm-dd", class: "js-filter form-control" %> 
                                 </th>
                                 <th>
                                 <%= text_field_tag :created_at, nil, placeholder: "Sep,2017", class: "js-filter form-control" %> 
                                 </th>
                                 <th>
                                   <%=  select_tag 'insurance', options_for_select(["WellCare","Healthfirst"]) , include_blank: 'Select Date' , class: 'form-control' %>
                                 
                                 </th>
                                 <th>
                                 <%= text_field_tag :last_call, nil, placeholder: "Last Call", class: "js-filter form-control" %>          
                                 </th>
                                 <th>
                                   <%=  select_tag 'care_plan', options_for_select(Assistant::CARE_PLAN) , include_blank: 'All' , class: 'form-control' %>
                                 <th>
                                    <%=  select_tag 'total_mins', options_for_select(["0 min","< 20 min","20+ min"]) , include_blank: 'All Mins' , class: 'form-control' %>
                                 </th>

                                 <th>
                                    <%=  select_tag 'eligibility', options_for_select(["Eligible","Not Eligible"]) , include_blank: 'Status' , class: 'form-control' %>
                                 </th>

                                 <th>
                                    <%=  select_tag 'bill_status', options_for_select(["Recieved","Pending"]) , include_blank: 'All' , class: 'form-control' %>
                                 </th>

                                 <th>
                                    <%= hidden_field_tag :search, true  %>
                                    <%= submit_tag 'Search', class: "btn btn-outline-inverse btn-rounded" %>
                                   
                                 </th>
                              <% end %>
                              </tr>
                           </thead>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="bst-block pad-all-md">
                  <div class="bst-block-title mrgn-b-lg">
                     <div class="caption">
                        <h4 class="mrgn-all-none">Patient List</h4>
                     </div>
                     <div class="contextual-link">
                        <div class="dropdown">
                           <% if @patients.present? %>
                              <%= link_to "Export CSV", searchpatient_path(format: 'csv', params: query_params(params)), class: "btn btn-outline-inverse btn-rounded" %>
                           <% end %>   
                        </div>
                     </div>
                  </div>
                  
                  <% if @patients.present? %>
                     <div class="bst-block-content">
                        <div class="table-responsive">
                           <table class="table table-hover table-middle th-fw-light mrgn-b-none">
                              <thead>
                                 <tr>
                                    <th>  </th>
                                    <th class="text-center">Member.ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">DOB </th>
                                    <th class="text-center">Month</th>
                                    <th class="text-center">Care Plan</th>
                                    <th class="text-center">Insurance</th>
                                    <th class="text-center">Bill</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Eligibility</th>
                                    <th class="text-center">Time Log</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% if @patients.present? %>
                                    <% @patients.each do |patient|%>
                                       <tr>
                                          <td>
                                             <span class="<%= risk_factor_color(patient.rf) %>"></span>
                                          </td>
                                          <% ap =patient.appointments.last if patient.appointments %>
                                          <td><%= patient.medical_record_no if patient.medical_record_no %></td>
                                          <td class="text-center"><a href="<%= patient_path(patient) %>"><%= patient.name if patient.last %></a></td>
                                          <td class="text-center"><%= patient.dob || "-" %></span> </td>
                                          <td class="text-center"><%= patient.created_at.strftime("%b,%Y")  %></td>
                                          <td class="text-center">
                                             <%= patient.care_plan.present? ? get_care_plans(patient.care_plan) : "-" %>
                                          </td>
                                          <td class="text-center">
                                             <%= patient.insurance.present? ? patient.insurance : "-" %>
                                          </td>
                                          <td class="text-center"><%= ap.bill_status if ap %></td>
                                          <td class="text-center">
                                             <% if ap %>
                                                $<%= ap.amount %>
                                             <% else %>
                                                -
                                             <% end %>
                                          </td>
                                          <td class="text-center"><%= ap.eligibility if ap %></td>
                                          <td class="text-center"><span class="<%=time_box_equal_and_greater_than_20(ap.total_mins) if ap %>"><%= ap ? ap.total_mins : "-" %></td>
     
                                       </tr>
                                    <% end %>
                                 <% end %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  <% else %>
                     <span style="margin-left: 4%;">NO Patient Found.</span>
                  <% end %>   
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<%= render "shared/footer" %>