<% patients.each do |patient| %>   
    <tr id="patientRecord-<%= patient.id %>">
       <td>
          <span class="<%= risk_factor_color(patient.rf) %>"></span>            
       </td>
    	<% @appointment = patient.appointments.last %>
      <td class="text-center"><%= patient.name %></td>
      <td class="text-center"><%= patient.medical_record_no %></td>
      <td class="text-center"><%= patient.dob %></td>
      <td class="text-center"><%= patient.insurance.present? ? patient.insurance : "-" %></td>
      <td class="text-center"><span class="badge badge-success rounded"><%= @appointment.total_mins %></td>

      <%= form_for @appointment , method: :PUT, authenticity_token: true, remote: true do |f| %>
        <td>
          <%= f.select :eligibility, [["Eligible","Eligible"], ["Not Eligible","Not Eligible"], ["Problem List", "Problem List"]], {include_blank: "Select"}, {class: "form-control"} %>
        </td>
       <td>
          <%= f.text_field :amount, class: "form-control", id: "inputPassword3-#{patient.id}" , placeholder: "$" %>
       </td>
       <td>
          <%= f.select :bill_status, [["Recieved","Recieved"], ["Pending","Pending"]], {include_blank: "Select"}, {class: "form-control"} %>
       </td>
       <td>
        <%= f.text_area :bill_notes , class: "form-control", id: "bill_notes-#{patient.id}", rows: 2 %>
       </td>
       <td>
        <%= f.hidden_field :last_billed_date, value: Date.today  %>
        <%= f.submit 'Save', class: "btn btn-outline-inverse btn-rounded" %>
       </td>

     <% end %>
    
    </tr>

 <% end%>
