<% patients.each do |patient| %>   

  <tr id="patientRecord-<%= patient.id %>">
    <td>
      <span class="<%= risk_factor_color(patient.rf) %>"></span>
    </td>
    <td><%= patient.name %></td>
    <td><%= patient.phone%></td>
    <td>HTN,DM</td>
    <td class="text-center"><%= patient.appointments.last.last_call.nil? ? "-" : patient.appointments.last.last_call.strftime("%m/%d/%Y") %></td>
    <% @appointment = patient.appointments.last %>

    <% today = (today_call_min(@appointment)) if @appointment %>
    <% total = (@appointment.total_mins) if @appointment %>

    <%= form_for @appointment, method: :PATCH, authenticity_token: true, remote: true do |f| %>
      <!-- Timer -->
      <td>
        <div id="time-<%= patient.id %>" class="time">
          <span id="hours-<%= patient.id %>">00</span> :
          <span id="minutes-<%= patient.id %>">00</span> :
          <span id="seconds-<%= patient.id %>" >00</span> <!-- :: -->
        </div>
        <div id="controls-<%= patient.id %>" class="controls">
          <button id="start_pause_resume-<%= patient.id %>" class="start_pause_resume text-center btn btn-success btn-rounded" >Start</button><br>
        </div>
      <!-- Timer -->
      </td>
      <td>
        <%= f.text_field :today_mins, class: "form-control patientTime", id: "inputPassword32-#{patient.id}" %>
      </td>
      <td>
        <div class="dropdown"> 
            <dt>
              <a class="mutliSelect codebtn" id="code_select-<%= patient.id %>">
                <span class="hida" id="hida-<%= patient.id %>">Select</span>    
                <p class="multiSel" id="multiSel-<%= patient.id %>"></p>  
              </a>
            </dt> 
            <dd>
                <div class="mutliSelect">
                    <ul id="a-<%= patient.id %>" class="ul-<%= patient.id %>">
                      <%= f.collection_check_boxes :code, patient.high_risk_factor ? Assistant::HRF : Assistant::LRF , :first, :last do |m| %>
                      <li id="li-<%= patient.id %>">
                        <%= m.check_box %> <%= m.label %>
                      </li>
                      <% end %>
                    </ul>
                </div>
            </dd>
        </div>
      </td>

      <td>
        <%= f.text_area :notes , class: "form-control notes_call-#{patient.id}", id: "patientNotes-#{patient.id}", rows: 2 %>
      </td>
      <td class="text-center"><span class="badge badge-danger rounded " id = "today_min-<%= patient.id %>">
        <%= today if today %><% '00:00:00' if not today %>
      </td>
      <td class="text-center" id = "a"><span class="badge badge-danger rounded"  id= "total_min-<%= patient.id %>">
        <%= total if total %><% '00:00:00' if not total %>
      </td>
      <td>
          <%= select_tag :category,options_for_select(Timelog::CATEGORIES) , class: "more-btn careplan_dropdown_menu dropdown_plan" %>
      </td>

      <td>
        <%= f.hidden_field :last_call, value: Date.today  %>
        <%= f.submit 'Save' ,class: "btn btn-outline-inverse btn-rounded btn-submit",data: { disable_with: false }, id: "savePatient-#{patient.id}" %>
      </td>
      <td>
        <div class="btn_bill btn btn-outline-inverse btn-rounded" id="bill-<%= @appointment.id %>-<%= patient.id %>">Bill</div>
      </td>
    <% end %>

  </tr>

<% end%>


<style type="text/css">
  .controls{
    font-size: 12px;
  }
  .time {
      font-size: 95%;
  }
  .patientTime{
    width: 82px;
  }


  .dropdown {
    position: relative;
    top:50%;
  }

  a {
    color: #fff;
  }

  .dropdown dd,
  .dropdown dt {
    margin: 0px;
    padding: 0px;
  }

  .dropdown ul {
    margin: -1px 0 0 0;
  }

  .dropdown dd {
    position: relative;
  }

  .dropdown a,
  .dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
  }

  .dropdown dt a {
        background-color: #fff;
      display: block;
      
      padding: 4px 4px 4px 4px;
      min-height: 19px;
      line-height: 9px;
      overflow: hidden;
      color: rgba(143, 133, 119, 0.84) !important;
      border: 0;
      width: 100px;
      border: 1px solid #9e9e9e;
  }

  .dropdown dt a span,
  .multiSel span {
      cursor: pointer;
      display: inline-block;
      padding: 2px 1px 0px 0;
      vertical-align: -webkit-baseline-middle;
  }
  .mutliSelect ul li {
      padding: 5px 0px 5px 4px;
      border-bottom: 1px solid #a6a6a6;
      letter-spacing: 0.5px;
  }
  .mutliSelect ul li:last-child {
    border-bottom:none !important;
  }
  .multiSel ul > li > input[type=checkbox]  {
    vertical-align: top !important;
  }
  .mutliSelect input[type=checkbox], input[type=radio] {
      margin-top: 0 !important;
      vertical-align: middle;
      margin-right: 4px;
  }
  .dropdown dd ul {
    background-color: #fff;
      border: 0;
      color: #8a8a8a;
      display: none;
      left: 0px;
          padding: 2px 0px 5px 0px;
      position: relative;
      top: 1px;
      width: 100px;
      list-style: none;
      /*height: 74px;*/
      overflow: auto;
      border: 1px solid;
  }

  .dropdown span.value {
    display: none;
  }

  .dropdown dd ul li a {
    padding: 5px;
    display: block;
  }

  .dropdown dd ul li a:hover {
    background-color: #fff;
  }

</style>

<script type="text/javascript">
  $(function() {
      
      var hours = minutes = seconds = milliseconds = 0;
      var prev_hours = prev_minutes = prev_seconds = prev_milliseconds = undefined;
      var timeUpdate;
    
      // Start/Pause/Resume button onClick
      $("button.start_pause_resume").click(function(event){
        event.preventDefault();
          var patientId = $(this).attr('id').split("-")[1];

          // Start button
          if($(this).text() == "Start"){  // check button label
              $(this).html("<span class='ui-button-text'>Stop</span>");
              updateTime(patientId, 0,0,0,0);
          }
      // Pause button
          else if($(this).text() == "Stop"){
              clearInterval(timeUpdate);
              $(this).html("<span class='ui-button-text'>Reset</span>");
              // $('#inputPassword32-'+patientId).val(parseInt($('#minutes-'+patientId).text())+1);

              var hurs = $('#hours-'+patientId).text();
              var min = $('#minutes-'+patientId).text();
              var sec = $('#seconds-'+patientId).text();
              $('#inputPassword32-'+patientId).val(hurs+':'+min+':'+sec); 
          }
      // Resume button    
          else if($(this).text() == "Resume"){
              prev_hours = parseInt($("#hours").html());
              prev_minutes = parseInt($("#minutes").html());
              prev_seconds = parseInt($("#seconds").html());
              prev_milliseconds = parseInt($("#milliseconds").html());
              
              updateTime(patientId, prev_hours, prev_minutes, prev_seconds, prev_milliseconds);
              
              $(this).html("<span class='ui-button-text'>Pause</span>");
          }
          else if($(this).text() == "Reset"){
              if(timeUpdate) clearInterval(timeUpdate);
              setStopwatch(patientId, 0,0,0,0);
              $(this).html("<span class='ui-button-text'>Start</span>");
          }

      });
      
      // Reset button onClick
      $("#reset").button().click(function(){
          if(timeUpdate) clearInterval(timeUpdate);
          setStopwatch(patientId, 0,0,0,0);
          $(this).html("<span class='ui-button-text'>Start</span>");      
      });
      
      // Update time in stopwatch periodically - every 25ms
      function updateTime(patientId, prev_hours, prev_minutes, prev_seconds, prev_milliseconds){
          var startTime = new Date();    // fetch current time
          
          timeUpdate = setInterval(function () {
              var timeElapsed = new Date().getTime() - startTime.getTime();    // calculate the time elapsed in milliseconds
              
              // calculate hours                
              hours = parseInt(timeElapsed / 1000 / 60 / 60) + prev_hours;
              
              // calculate minutes
              minutes = parseInt(timeElapsed / 1000 / 60) + prev_minutes;
              if (minutes > 60) minutes %= 60;
              
              // calculate seconds
              seconds = parseInt(timeElapsed / 1000) + prev_seconds;
              if (seconds > 60) seconds %= 60;
              
              // calculate milliseconds 
              milliseconds = timeElapsed + prev_milliseconds;
              if (milliseconds > 1000) milliseconds %= 1000;
              
              // set the stopwatch
              setStopwatch(patientId, hours, minutes, seconds, milliseconds);
              
          }, 25); // update time in stopwatch after every 25ms
          
      }
      
      // Set the time in stopwatch
      function setStopwatch(patientId, hours, minutes, seconds, milliseconds){
        for (i = 0; i < 50; i++) { 
          $("#hours-"+patientId).html(prependZero(hours, 2));
          $("#minutes-"+patientId).html(prependZero(minutes, 2));
          $("#seconds-"+patientId).html(prependZero(seconds, 2));
          $("#milliseconds-"+patientId).html(prependZero(milliseconds, 3));
        }
      }
      
      // Prepend zeros to the digits in stopwatch
      function prependZero(time, length) {
          time = new String(time);    // stringify time
          return new Array(Math.max(length - time.length + 1, 0)).join("0") + time;
      }
  });
  
  $('.btn_bill').click(function(){
    var bill_btn_id = this.id.split('-')[1];
    var bill_row_id = this.id.split('-')[2];
    $.ajax({
      url: "/bill_this_patient",
      data: { appointment_id: bill_btn_id } ,
      success: function(result){
        $("#patientRecord-"+bill_row_id).remove();      
    }});
  });

  window.onload = function(){

    $( ".codebtn" ).each(function() {
      var selectPatientId = $(this).attr('id').split("-")[1];
      
      $(this).find("span").text("");

      if ($(".ul-"+selectPatientId).find("li").length>1){
            var inValo = "";
          $(".ul-"+selectPatientId).find("li").each(function(){
            if (inValo == ""){
              if ($(this).find("input").is(':checked')){
                inValo = $(this).find("input").val();
              }
            }else{
              if ($(this).find("input").is(':checked')){
               inValo = inValo+','+$(this).find("input").val();
              }
            }
        });
     
        if (inValo == ""){
          $(this).find("span").text("Select");

        }else{
          $(this).find("span").text(inValo);
        }
          
      } else {
        var this_box = $(".ul-"+selectPatientId).find("li").find("input"); 
        if (this_box.is(':checked')){
          $(this).find("span").text(this_box.val());
        }else{
          $(this).find("span").text("Select");
        }
      }
    });

  }

    $(document).ready(function(){
      $(".patientTime").val("00:00:00");
    });


    $(".codebtn").on('click', function() {
      var code_select_id = this.id.split('-')[1];
      $(".ul-"+code_select_id).slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function() {
      $(".dropdown dd ul").hide();
    });

    function getSelectedValue(id) {
      return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function(e) {
      var $clicked = $(e.target);
      if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function() {
      var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val();
        title = $(this).val() + ",";

      var this_id = this.closest('div > ul').id.split('-')[1];

      if ($(this).is(':checked')) {

        var inValo = "";
        $(this).closest('div > ul').find("li").each(function() {
          if (inValo == ""){
            if ($(this).find("input").is(':checked')){
              inValo = $(this).find("input").val();
            }
          }else{
            if ($(this).find("input").is(':checked')){
              inValo = inValo+','+$(this).find("input").val();
            }
          }
        });

        if (inValo == ""){
          $("#hida-"+this_id).html("Select");
        }else{
          $("#hida-"+this_id).html(inValo);
        }
      } else {
        
        var inValo = "";
        $(this).closest('div > ul').find("li").each(function() {
          if (inValo == ""){
            if ($(this).find("input").is(':checked')){
              inValo = $(this).find("input").val();
            }
          }else{
            if ($(this).find("input").is(':checked')){
              inValo = inValo+','+$(this).find("input").val();
            }
          }
        });

        if (inValo == ""){
          $("#hida-"+this_id).html("Select");
        }else{
          $("#hida-"+this_id).html(inValo);
        }
      }

    });
</script>
