<footer class="bst-footer pad-all-md">
   <div class="footer-wrapper bg-reverse pad-all-md">
      <div class="row footer-area">
         
         <div class="col-xs-12 col-sm-12" style="text-align: center;">
          <img width="200px" style="background-color: white; "  src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/4WAENRhxk2dcMeK/logo.png">
         </div>
         <div class="col-xs-12 col-sm-12" style="text-align: center;" >
            <br>
            <p class="mrgn-b-none">Copyright ©2017 All Rights Reserved</p>
         </div>
      </div>
   </div>
   <a href="#" id="back-top" class="to-top scrolled margin-btm"> <span class="to-top-icon"></span> </a>
</footer>