<header class="bst-header">
   <nav class="navbar navbar-default">
      <div class="container-fluid">


        <style>
          .wrapper{position:relative;}
          .right,.left{width:50%; position:absolute;}
          .right{right:0;}
          .left{left:0;}
        </style>

        <div class="wrapper">
          <div class="left"> <div class="navbar-header">

            <div class="">
              <div class="navbar-header">
                <div class="">
                  <img width="200px" src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/4WAENRhxk2dcMeK/logo.png">
                </div>
                <a href="#mainmenu" data-toggle="collapse" class="navbar-toggle">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
              </div>
            </div>


          </div></div>


          <% if current_user.type == "Assistant" %>
          <div class="right"> <span style="color: white;">



             DR NAME &nbsp; : <%= current_user.doctor.full_name %> <br>
             PRACTICE : <%= current_user.doctor.practice_name %> <br>
             CONTACT &nbsp;: <%= current_user.doctor.phone %> <br>
            ADDRESS &nbsp;: <%= current_user.doctor.address %>

           </span></div>
          <% end %>


        </div>












        <div id="navbar" class="navbar-collapse collapse" data-hover="dropdown">

<div>
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="user-dropdown"><%= current_user.full_name  %></span> <span class="caret"></span>
                     <%= image_tag "user-1.jpg", class: "img-responsive display-ib mrgn-l-sm img-circle", width: "64px", height: "64px" %>
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-user"></i>Edit Profile</a></li>

                     <li role="separator" class="divider"></li>
                     <li><a href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i>Logout</a></li>
                  </ul>
               </li>
            </ul>

</div>


         </div>
      </div>
   </nav>
</header>
