<nav class="sidebar-nav collapse">
                        <ul class="list-unstyled sidebar-menu">
                           <li class="sidenav-heading text-uppercase">Dashboards</li>
                           <li class="active opened">
                              <a href="<%= careplanners_dashboard_path %>"><i class="fa fa-user-md" aria-hidden="true"></i> <span>Dashboards</span></a>

                           </li>
                           <li class="sidenav-heading text-uppercase">Features</li>



                           <li class="">
                              <a href="enroll.html"><i class="fa fa-user-plus" aria-hidden="true"></i><span>New Enrollment</span></a>
                           </li>
                           <li class="">
                              <a href="<%= careplanners_patientlist_path %>"><i class="fa fa-wheelchair" aria-hidden="true"></i><span>Patients List</span></a>

                           </li>

                           <li class="">
                              <a href="<%= careplanners_callcentre_path%>"><i class="fa fa-phone" aria-hidden="true"></i><span>Call Center</span></a>
                           </li>


                           <li class="">
                              <a href="billing.html"><i class="fa fa-dollar" aria-hidden="true"></i><span>Billing</span></a>
                           </li>
                           
                           <li class="">
                              <a href="<%= careplanners_downloads_path%>"><i class="fa fa-download" aria-hidden="true"></i><span>Download Forms</span></a>
                           </li>

                        </ul>
                     </nav>