   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         <div class="bst-sidebar">
            <div class="bst-sidebar-back"> </div>
            <div class="bst-sidebar-nav-wrapper">
               <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                  <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                  <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
               </div>
               <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                  <% if current_user.type == "Assistant" %>
                     <%= render "nav_planner" %>
                  <% else %>
                     <%= render "nav_doctor" %>
                  <% end %>
               </div>
               
         </div>
      </div>
      <div class="bst-content-wrapper">
         <div class="bst-content">
            <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item text-capitalize">
                     <h3>Care Team Member's Dashboard</h3>
                  </li>
               </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="bst-block pad-all-md">
                  <div class="bst-block-title mrgn-b-lg">
                     <div class="caption">
                        <h4 class="mrgn-all-none">Patient List</h4>
                     </div>
                     <div class="contextual-link">
                        <div class="dropdown">
                           <a href="javascript:;" class="base-dark" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
                           <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                              <li>
                                 <a class="test" href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                              </li>
                              <li>
                                 <a class="test" href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                              </li>
                              <li>
                                 <a class="test" href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

                     <% if patients.present? %>
                        <div class="bst-block-content">
                           <div class="table-responsive">
                              <table class="table table-hover table-middle th-fw-light mrgn-b-none">
                                 <thead>
                                    <tr>
                                       <th>  </th>
                                       <th class="text-center">Member.ID</th>
                                       <th class="text-center">Name</th>
                                       <th class="text-center">DOB </th>
                                       <th class="text-center">Month</th>
                                       <th class="text-center">Care Plan</th>
                                       <th class="text-center">Insurance</th>
                                       <th class="text-center">Bill</th>
                                       <th class="text-center">Amount</th>
                                       <th class="text-center">Eligibility</th>
                                       <th class="text-center">Time Log</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                      <% if patients.present? %>
                                       <% patients.each do |patient|%>
                                          <tr>
                                             <td>
                                               <span class="<%= risk_factor_color(patient.rf) %>"></span>
                                             </td>
                                             <% ap =patient.appointments.last if patient.appointments %>
                                              <td><%= patient.medical_record_no if patient.medical_record_no %></td>
                                             <td class="text-center"><a href="<%= patient_path(patient) %>"><%= patient.name if patient.last %></a></td>
                                             <td class="text-center"><%= patient.dob || "-" %></span> </td>
                                             <td class="text-center"><%= patient.created_at.strftime("%b,%Y")  %></td>
                                             <td class="text-center">
                                                <% if patient.care_plan.present? %>
                                                   <% patient.care_plan.each do |careplan| %>
                                                      <% if patients_created_care_plans(patient.careplans).include? careplan %>
                                                         <i class="fa fa-check" aria-hidden="true"></i>
                                                      <% end %>
                                                      <%= careplan %><br>
                                                   <% end %>
                                                <% else %>
                                                   <p>-</p>
                                                <% end %>
                                             </td>
                                             <td class="text-center">
                                                <%= patient.insurance.present? ? patient.insurance : "-" %>
                                             </td>
                                             <td class="text-center"><%= ap.bill_status if ap %></td>
                                             <td class="text-center">
                                                <% if ap %>
                                                   $<%= ap.amount %>
                                                <% else %>
                                                   -
                                                <% end %>
                                             </td>
                                             <td class="text-center"><%= ap.eligibility if ap %></td>
                                             <td class="text-center"><span class="<%=time_box_equal_and_greater_than_20(ap.total_mins) if ap %>"><%= ap ? ap.total_mins : "-" %></td>
                                             <td>
                                                <a href="<%= edit_patient_path(patient) %>"><i class="fa fa-edit mrgn-r-sm"></i></a>
                                                <%= link_to '',patient_path(patient),method: :delete, data: { confirm: 'Are you sure you want to delete this?' } ,class: "fa fa-times text-danger" %>
                                             </td>
                                          </tr>
                                       <% end %>
                                      <% end %>
                                  
                                    </tbody>
                                 </table>
                              </div>
                           </div>

                        </div>
                     </div>
                  <% else %>
                     <span style="margin-left: 4%;">NO Patient Found.</span>
                  <% end %>   
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<%= render "shared/footer" %>
