<div class="bst-main">
  <div class="fyt-main-top"></div>
  <div class="bst-main-wrapper pad-all-md">
   <div class="bst-sidebar">
    <div class="bst-sidebar-back"> </div>
    <div class="bst-sidebar-nav-wrapper">
     <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
      <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
      <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
    </div>
    <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
      <%= render "doctors/nav_doctor"%>
   </div>
     <div class="bst-sidebar-link mrgn-b-sm bg-white">
      <a href="#"> 
        <i class="fa fa-question-circle mrgn-r-sm"> </i> 
        
        <span class="pull-right badge badge-primary"></span> 
      </a>
    </div>
   </div>
  </div>
  
  <div class="bst-content-wrapper">
    <div class="bst-content">
     <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
      <ul class="breadcrumb">
       <li class="breadcrumb-item text-capitalize">
        <h3>Doctors's Dashboard</h3>
      </li>
    </ul>
  </div>
<!-- multistep form -->
   <br><br><br><br><br><br>
    <%= render "assistants/form" %>

    </div>
  </div>
 </div>
</div>
  <%= render "shared/footer" %>
