<div class="bst-wrapper">
  <%= render "shared/header" %>
   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         <div class="bst-sidebar">
            <div class="bst-sidebar-back"> </div>
            <div class="bst-sidebar-nav-wrapper">
               <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
                  <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
                  <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
               </div>
               <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
                  <%= render "nav_planner" %>
               </div>
             
              <!--  <div class="bst-sidebar-link mrgn-b-sm bg-white">
                  <a href="users-list.html"> <i class="fa fa-user mrgn-r-sm"> </i> <span class="closed-menu-title">New Users</span> <span class="pull-right badge badge-warning">5</span> </a>
               </div>
               <div class="bst-sidebar-link mrgn-b-sm bg-white">
                  <a href="users-list.html"> <i class="fa fa-clock-o mrgn-r-sm"> </i> <span class="closed-menu-title">Online</span> <span class="pull-right badge badge-success">450</span> </a>
               </div>
               <div class="bst-sidebar-link mrgn-b-sm bg-white">
                  <a href="ecommerce-order.html"> <i class="fa fa-credit-card mrgn-r-sm"> </i> <span class="closed-menu-title">Payment due</span> <span class="pull-right badge badge-danger">9</span> </a>
               </div> -->
            </div>
         </div>
         <div class="bst-content-wrapper">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>Care Team's Dashboard</h3>
                     </li>
                  </ul>
               </div>
               <!-- multistep form -->
<!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">STEP 1</li>
    <li>STEP 2</li>
    <li>STEP 3</li>
    <li>STEP 4</li>
    <li>STEP 5</li>
    <li>STEP 6</li>
    <li>STEP 7</li>
    <li>STEP 8</li>
    <li>STEP 9</li>
    <li>STEP 10</li>
    <li>STEP 11</li>
  </ul>

  <!-- fieldsets -->
  <fieldset style="text-align: left !important;">
    <h2 class="fs-title" style="text-align: center">ASTHMA PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Patient Information</h3>
    <textarea type="text" name="fname" placeholder="Diagnosis Primary"></textarea>
    <textarea type="text" name="fname" placeholder="Camorbidity"></textarea>
    <textarea type="text" name="fname" placeholder="Current Problems"></textarea>
    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Select The Treatment Goals</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Control Diabetes A1c% below 8
          </label>
          <br><br>

          <label>
            <input type="checkbox">Control Blood pressure to resting blood pressure of 135/85 or below
          </label>
          <br><br>

          <label>
            <input type="checkbox">Control LDL (if LDL is greater Than 100)
          </label>
          <br><br>

          <label>
            <input type="checkbox">Reduce Weight (give goal BMI amount ex 27 or reduction of 5)( if BMI is greater than
            28)
          </label>
          <br><br>

        </div>
      </div>

    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous"/>
    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>


  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Barriers</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Poor Compliance with monitoring blood glucose monitoring
          </label>
          <br><br>

          <label>
            <input type="checkbox">Poor compliance with diet
          </label>
          <br><br>

          <label>
            <input type="checkbox">Poor Compliance with monitoring blood glucose monitoring
          </label>
          <br><br>

          <label>
            <input type="checkbox">Poor memory
          </label>
          <br><br>

          <label>
            <input type="checkbox">No Barriers
          </label>
          <br><br>

        </div>
      </div>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous"/>
    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>






  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Strategy for Barriers</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Consult Home Service for Assistance with ADLs
          </label>
          <br><br>

          <label>
            <input type="checkbox">Improved medication compliance by referring home health services.
          </label>
          <br><br>

          <label>
            <input type="checkbox">Improve medication compliance by reminder calls for refills
          </label>
          <br><br>

          <label>
            <input type="checkbox">Call by care team to remind patients to check blood glucose and note any glucose recordings
          </label>
          <br><br>

          <label>
            <input type="checkbox">Referral to Diabetic Educator
          </label>
          <br><br>


          <label>
            <input type="checkbox">Home health to monitor blood glucose
          </label>
          <br><br>


          <label>
            <input type="checkbox">Improve diet with home nutrition counseling.
          </label>
          <br><br>

        </div>
      </div>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous"/>
    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>



  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Patient Preferences</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">To live a healthy lifestyle
          </label>
          <br><br>

          <label>
            <input type="checkbox">To lose weight
          </label>
          <br><br>

          <label>
            <input type="checkbox">Increase Stamina
          </label>
          <br><br>

          <label>
            <input type="checkbox">Prevent having to take additional medicine
          </label>
          <br><br>

          <label>
            <input type="checkbox">Avoid blindness and amputation.
          </label>
          <br><br>

          <label>
            <input type="checkbox">Avoid Heart Disease.
          </label>
          <br><br>

          <label>
            <input type="checkbox">Avoid Insulin.
          </label>
          <br><br>

          <label>
            <input type="checkbox">To live a healthy lifestyle.
          </label>
          <br><br>


        </div>
      </div>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Previous"/>
    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Care Plan</h3>

    <textarea type="text" name="fname" placeholder="Current Medical Treatment"></textarea>
    <textarea type="text" name="fname" placeholder="Medical Allergies"></textarea>

    <input type="button" name="previous" class="previous action-button" value="Previous"/>

    <input type="button" name="next" class="next action-button" value="Next"/>


  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Patient Education</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Glucose Monitoring Education
          </label>
          <br><br>

          <label>
            <input type="checkbox">Foot monitoring Education
          </label>
          <br><br>

          <label>
            <input type="checkbox">Low carb dieting
          </label>
          <br><br>

          <label>
            <input type="checkbox">Low calorie dieting
          </label>
          <br><br>

          <label>
            <input type="checkbox">Tobacco cessation education
          </label>
          <br><br>


        </div>
      </div>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Previous"/>


    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Self Care plan</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Given Diabetic Glucose Diary and told to monitor Blood Glucose monitoring.
          </label>
          <br><br>

          <label>
            <input type="checkbox">Go for a walk at lunch-time
          </label>
          <br><br>

          <label>
            <input type="checkbox">Carb Counting Diary and asked for patient to monitor blood write carbs and maintain to less than (30-40)carbs
          </label>
          <br><br>

          <label>
            <input type="checkbox">Given Diabetic Glucose Diary and told to monitor Blood Glucose monitoring.
          </label>
          <br><br>

          <label>
            <input type="checkbox">Patient is given tobacco craving diary and ask to note down, what and when his /her cravings are.
          </label>
          <br><br>

          <label>
            <input type="checkbox">Go for a walk at lunch-time
          </label>
          <br><br>

          <label>
            <input type="checkbox">Get some exercise regularly
          </label>
          <br><br>


          <label>
            <input type="checkbox">Monitor intake calorie in diary if in diet to maintain less than 1800 calories per day
          </label>
          <br><br>

        </div>
      </div>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Previous"/>


    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Other Treatment</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Low carb diet,comprising of less than 30 gram carbs approximately
          </label>
          <br><br>

          <label>
            <input type="checkbox">Calorie reduction diet
          </label>
          <br><br>

          <label>
            <input type="checkbox">Low cholesterol diet
          </label>
          <br><br>

          <label>
            <input type="checkbox">Low fat diet
          </label>
          <br><br>

          <label>
            <input type="checkbox">Low salt diet
          </label>
          <br><br>


          <label>
            <input type="checkbox">Excercise 30 min 4x day or as tolerable
          </label>
          <br><br>


          <label>
            <input type="checkbox">Monitor glucose 3x day
          </label>
          <br><br>


          <label>
            <input type="checkbox">Monitor BP every 2 days
          </label>
          <br><br>


          <label>
            <input type="checkbox">Check body weight weekly
          </label>
          <br><br>


        </div>
      </div>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Previous"/>


    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Care Team Reporting</h3>

    <div class="checkbox" style="font-size: small">

      <div class="row">
        <div class="col-md-12">

          <label>
            <input type="checkbox">Care plan given to patient
          </label>
          <br><br>

          <label>
            <input type="checkbox">Care plan given to family
          </label>
          <br><br>

          <label>
            <input type="checkbox">Care plan mailed to patient address.
          </label>
          <br><br>



        </div>
      </div>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Previous"/>


    <input type="button" name="next" class="next action-button" value="Next"/>
  </fieldset>

  <fieldset style="text-align: left !important;">
    <h2 class="fs-title">DIABETIC PATIENT CARE PLAN</h2>
    <h3 class="fs-subtitle">Care Plan</h3>

    <textarea type="text" name="fname" placeholder="Referring and Outside Providers"></textarea>
    <input type="text" name="fname" placeholder="Contact" />
    <input type="text" name="fname" placeholder="Signature" />

    <input type="button" name="previous" class="previous action-button" value="Previous"/>


    <input type="submit" name="submit" class="submit action-button" value="Submit"/>


  </fieldset>



</form>

<!-- jQuery -->
<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<!-- jQuery easing plugin -->
<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>

<style>
  /*custom font*/
  @import url(http://fonts.googleapis.com/css?family=Montserrat);

  /*basic reset*/
  * {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
    /*Image only BG fallback*/
    background: url('http://thecodeplayer.com/uploads/media/gs.png');
    /*background = gradient + image pattern combo*/
    background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),
    url('http://thecodeplayer.com/uploads/media/gs.png');
  }

  body {
    font-family: montserrat, arial, verdana;
  }

  /*form styles*/
  #msform {
    width: 900px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }

  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: absolute;
  }

  /*Hide all except first fieldset*/

  #msform fieldset:not(:first-of-type) {
    display: none;
  }

  /*inputs*/

  #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }

  /*buttons*/

  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }

  /*headings*/

  .fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
  }

  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }

  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 9%;
    float: left;
    position: relative;
  }

  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
  }

  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }

  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }

  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before, #progressbar li.active:after {
    background: #27AE60;
    color: white;
  }


</style>


<script type="text/javascript" charset="utf-8">
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'transform': 'scale(' + scale + ')'});
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 50) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function () {
        return false;
    })

</script>

            </div>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <%= render "shared/footer" %>
</div>