<div id="bill-tab" class="tab-pane fade">
  <div class="table-border-top bst-full-block pos-relative">
    <div class="pad-all-lg text-capitalize">
       <div class="pos-relative">
          <div class="caption">
             <h5 class="mrgn-all-none">Bill Log</h5>
          </div>
       </div>
    </div>
    <div class="table-responsive">
      <table class="data-table table-striped mrgn-all-none text-capitalize th-pad-all-sm td-pad-all-sm th-fw-light" style="width:100%;">
        <thead>
          <tr>
            <th>Date</th>
            <th>Eligibility </th>
            <th>Bill Status</th>
            <th>Amount </th>
            <th>Notes </th>
          </tr>
        </thead>
         <tbody>
            <% if @billed_appoinments.present? %>
              <% @billed_appoinments.each do |a| %>
                <tr>
                   <td><%= a.created_at.strftime("%b, %Y") %></td>
                   <td><%= a.eligibility %></td>
                   <td><%= a.bill_status  %></td>
                   <td><%= a.amount.present? ? "$#{a.amount}" : "" %></td>
                   <td><%= a.notes  %> </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="5">No Record Found.</td>
              </tr>
            <% end %>    
         </tbody>
      </table>
    </div>
  </div>
</div> 