<div id="controlchart-tab" class="tab-pane fade">
   <div class="row">
      <div class="col-md-12 col-lg-12">
         <div class="bst-block">
            <div class="bst-block-title mrgn-b-md">
               <div class="pos-relative">
                  <div class="caption">
                     <h3 class="text-capitalize">Control Chart at Each Visit</h3>
                  </div>
                  <div class="contextual-link">
                     <div class="dropdown">
                        <a href="javascript:;" class="gray" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
                        <ul class="dropdown-menu dropdown-arrow dropdown-menu dropdown-arrow dropdown-menu-right">
                           <li>
                              <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                           </li>
                           <li>
                              <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                           </li>
                           <li>
                              <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bst-block-content">
               <div class="table-responsive">
                  <table class="table table-striped table-middle table-hover">
                     <thead>
                        <tr class="bg-success">
                           <th>Date of Service</th>
                           <th class="text-center">A1C</th>
                           <th class="text-center">BP</th>
                           <th class="text-center">LDL</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% patient.controlcharts.each do |chart| %>
                           <tr>
                              <td><%= chart.created_at.to_date %></td>
                              <td class="text-center"><span class="label <%= a1c_color_range_selector(chart.a1c) %> btn-rounded"><%= chart.a1c %></span></td>
                              <td class="text-center"><span class="label <%= bp_color_range_selector(chart.bp) %> btn-rounded"><%= chart.bp %></span></td>
                              <td class="text-center"><span class="label <%= ldl_color_range_selector(chart.ldl) %> btn-rounded"><%= chart.ldl %></span></td>
                           </tr>
                        <% end %>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>