<tr>
   <td>Treatment Goals</td>
   <td>
      <% if plan.treatment_goals %>
         <% plan.treatment_goals.each do |g| %>
            ● <%= g %><br>
         <% end %>
      <% end %>
      
   </td> 
</tr>
<tr>
   <td>Potential Barriers to Care</td>
   <td>
      <% if plan.barriers %>
         <% plan.barriers.each do |g| %>
            ● <%= g %><br>
         <% end %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Strategy for Barriers</td>
   <td>
   <% if plan.strategy_for_barriers %>
      <% plan.strategy_for_barriers.each do |g| %>
         ● <%= g %><br>
      <% end %>
   <% end %>
      
   </td>
</tr>
<tr>
   <td>Patient Preferences and Functional Lifestyle/Goals</td>
   <td>
   <% if plan.patient_preferences %>
      <% plan.patient_preferences.each do |g| %>
         ● <%= g %><br>
      <% end %>
   <% end %>
      
   </td>
</tr>
<tr>
   <td>Other Treatment </td>
   <td>
      <% if plan.other_treatment %>
         <% plan.other_treatment.each do |g| %>
         ● <%= g %><br>
      <% end %>
     <% end %>
      
   </td>
</tr>
<tr>
   <td>Patient Education</td>
   <td>
      <% if plan.patient_education %>
         <% plan.patient_education.each do |g| %>
         ● <%= g %><br>
         <% end %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Self-Care Plan</td>
   <td>
      <% if plan.self_care_plan %>
         <% plan.self_care_plan.each do |g| %>
         ● <%= g %><br>
         <% end %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Care Team Reporting </td>
   <td>
      <% if plan.care_team_reporting%>
         <% plan.care_team_reporting.each do |g| %>
         ● <%= g %><br>
         <% end %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Current Medical Treatment </td>
   <td>
      <% if not (plan.current_medical_treatment && plan.current_medical_treatment.empty?) %>
         <%= plan.current_medical_treatment %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Comorbidity </td>
   <td>
      <% if not (plan.comorbidity && plan.comorbidity.empty?) %>
         <%= plan.comorbidity %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Diagnosis </td>
   <td>
      <% if not (plan.diagnosis_primary && plan.diagnosis_primary.empty?) %>
         ●<%= plan.diagnosis_primary %>
      <% end %>
      
   </td>
</tr>
<tr>
   <td>Medical allergies </td>
   <td>
      <% if not (plan.medical_allergies && plan.medical_allergies.empty?) %>
         ● <%= plan.medical_allergies %>
      <% end %>
      
   </td>
</tr>

<tr>
   <td>Referring and Outside Providers </td>
   <td>
      <% if not (plan.providers && plan.providers.empty?) %>
         ● <%= plan.providers%><br>
      <% end %>
</tr>
<tr>
   <td>How to reach us: </td>
   <td>
      <% if not (plan.contact && plan.contact.empty?) %>
         ● <%= plan.contact %><br>
      <% end %>
</tr>
<tr>
   <td>SIGNATURE OF PHYSICIAN
   </td>
   <td>
      <% if not (plan.signature && plan.signature.empty?) %>
         ● <%= plan.signature %><br>
      <% end %>
    
</tr>
