<div id="activity-tab" class="tab-pane fade">
  <div class="table-border-top bst-full-block pos-relative">
    <div class="pad-all-lg text-capitalize">
      <div class="pos-relative">
        <div class="caption">
           <h5 class="mrgn-all-none">Time Log</h5>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="data-table table-striped mrgn-all-none text-capitalize th-pad-all-sm td-pad-all-sm th-fw-light" style="width:100%;">
        <thead>
          <tr>
             <th> Month </th>
             <th> Category </th>
             <th> Notes </th>
             <th> Call Time </th>
          </tr>
       </thead>
       <tbody>
          <% if @appointments.last.timelogs.present? %>
            <% @appointments.last.timelogs.each do |timelog|  %>
              <tr>
                <td><%= timelog.created_at.strftime("%m/%d/%Y")  %></td>
                <td><%= timelog.category if timelog.category.present?  %></td>
                <td><%= timelog.notes if timelog.notes.present? %></td>
                <td><%= timelog.call_time if timelog.call_time.present? %></td>
              </tr>
            <% end %>  
          <% else %>  
            <tr>
              <td colspan="3">No Record Found.</td>
            </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
</div>