   <div class="bst-main">
      <div class="fyt-main-top"></div>
      <div class="bst-main-wrapper pad-all-md">
         
         <div class="">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>User Profile</h3>
                     </li>
                     <li class="breadcrumb-item"><a href="#/">Users</a></li>
                     <li class="breadcrumb-item"><a href="user-profile.html">Patient Profile</a></li>
                  </ul>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                     <div class="bst-full-block text-center">
                        <div class="pad-all-md">
                           <div class="pos-relative">
                              <div class="contextual-link">
                                 
                              </div>
                           </div>
                           <div class="mrgn-b-lg">
					             	<%= image_tag "histroy-user-1.jpg", class: "img-responsive img-circle display-ib", width: "140px", height: "140px" %>  

                           </div>
                           <h3><%= @patient.name %></h3>
                           <% if @patient.care_plan.present?  %>
                              <% @patient.care_plan.each do |plan| %>
                                 <p>
                                    <%= plan %>
                                 </p>
                              <% end %>
                           <% else %>
                              No Care Plan.
                           <% end %>
                        </div>                       
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                  <div class="bst-block">
                     <div class="mrgn-b-lg">
                        <div class="profile-tabs line-slide-tab">
                           <ul class="nav nav-tabs no-border">
                              <li class="active"><a data-toggle="tab" href="#profile-tab" aria-expanded="true">Demographics</a></li>
                              <li class=""><a data-toggle="tab" href="#diagnosis" aria-expanded="false">Diagnosis</a></li>
                           
                              <% (0..7).each do |pl_no| %>
                                 <% if default_plan = @plans.first_default_plan(pl_no) %>
                                    <li class=""><a data-toggle="tab" href="#current-plan-<%= default_plan.id %>" aria-expanded="false"><%= default_plan.plan_type %></a></li>
                                 <% end %>
                              <% end %>
                              
                              <li class=""><a data-toggle="tab" href="#controlchart-tab" aria-expanded="false">Control Chart</a></li>
                              <li class=""><a data-toggle="tab" href="#activity-tab" aria-expanded="false">Time Logs</a></li>
                              <li class=""><a data-toggle="tab" href="#bill-tab" aria-expanded="false">Bill Logs</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="tab-content">
                        <div id="profile-tab" class="tab-pane fade active in">
                           <div class="mrgn-b-lg">
                              <h5 class="mrgn-b-md"><span class="display-ib mrgn-r-sm"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>Patient Demographics</h5>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="mrgn-b-lg">
                                    <div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Sex</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.sex if @patient.sex %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">DOB</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.dob if @patient.dob %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Age</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.age if @patient.age %> Years</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Language Preference</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.language_preference if @patient.language_preference %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Web Enabled</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.web_enabled if @patient.web_enabled %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Clinical Manager</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.clinical_manager if @patient.clinical_manager %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Contact Number</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p>323-343-3423</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="mrgn-b-lg">
                                    <div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Insurance</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.insurance if @patient.insurance %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Care Team</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.care_team if @patient.care_team %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Member id</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.medical_record_no if @patient.medical_record_no %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Enrollment</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= to_date_format(@patient.created_at) %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Medical Assistance</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p>Demo Assistance</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Clinical Team Coordinator</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p><%= @patient.clinical_team_coordinator if @patient.clinical_team_coordinator %></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="timeline-layout pos-relative">
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <h6 class="text-primary">Emergency Contact Number</h6>
                                             </div>
                                             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <p>323-343-3423</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>   
                             
                        <div id="diagnosis" class="tab-pane fade">
                           <div class="mrgn-b-lg">
                              <h5 class="mrgn-b-md"><span class="display-ib mrgn-r-sm"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>Primary Diagnosis</h5>
                           </div>
                           <div class="row">
                              <div class="col-lg-4 col-md-12 col-sm-12">
                                 <div class="bst-block overflow-wrapper" style="background: #e2f5ff">
                                    <div class="row" style="background: #e2f5ff">
                                       <div class="" >
                                          <h4 class="">Care Plans</h4>
                                          <% if @patient.care_plan.present?  %>
                                             <% @patient.care_plan.each do |plan| %>
                                                <h5 class="mrgn-b-none fw-normal">
                                                   <%= plan %>
                                                </h5>
                                             <% end %>
                                          <% else %>
                                             No Care Plan.
                                          <% end %>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              
                              <div class="col-lg-4 col-md-12 col-sm-12">
                                 <div class="bst-block overflow-wrapper" style="background: #e2f5ff">
                                    <div class="row">
                                       <div class="">
                                          <h4 class="">CURRENT PROBLEMS</h4>
                                          <h5 class="mrgn-b-none fw-normal"><%= @patient.title if @patient.title %></h5>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                     <%= render "control_chart", patient: @patient %>

                   <% if not @plans.nil? %>
                     <% @plans.htn_and_dm_plan.each do |plan| %>
                         <div id="current-plan-<%= plan.id %>" class="tab-pane fade">
                           <div class="">
                              <div class="">
                                 <div class="bst-block-title mrgn-b-lg">
                                       
                                    <%= form_tag select_dm_path, :method => :get, id: "id-#{plan.html_id}",class: "plan_form" , remote: true do %>

                                       <%= submit_tag "Search", class: "more-btn dropdown_plan_submit" %>   
                                       
                                       <%=  select_tag 'filter_for', options_for_select(@patient.patient_plans(plan).map { |s| [to_date_format(s.created_at.to_date), s.id] } ) , include_blank: 'Select Date', id: "careplan_drop_menu-#{plan.html_id}", class: "more-btn careplan_dropdown_menu dropdown_plan" %>

                                    <% end %>

                                    <div class="caption">
                                       <h3 class="text-capitalize">Diabetes Mellitus Care Plan</h3>
                                       <h6 class="mrgn-b-none fw-normal">Created On : <%= plan.created_at.to_date.strftime("%m/%d/%Y") %> </h6>
                                       <h6 class="mrgn-b-none fw-normal">Last Updated on : <%= plan.updated_at.to_date.strftime("%m/%d/%Y") %></h6>
                                    
                                    </div>
                                    <% @plan = plan %>
                                 </div>
                                 <div class="bst-block-content">
                                    <div class="table-responsive">
                                       <div class="unseen">
                                          <table class="table table-hover table-bordered table-striped">
                                             <thead>
                                                <tr class="bg-primary">
                                                   <th>Component</th>
                                                   <th>Explanation</th>
                                                </tr>
                                             </thead>

                                             <tbody id = "care_plan_body-<%= @plan.html_id %>">

                                                <%= render "plan_body_partial" ,:plan => @plan %>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <% end %>
                     <% end%>
                     <%= render "time_log", @appoinments %>
                     <%= render "bill_log"  %>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%= render partial: "shared/footer" %>
