<div class="bst-wrapper">
   <div class="bst-main login-bg">
      <div class="login-form-wrapper mrgn-b-lg">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xs-12 col-sm-9 col-md-8 col-lg-4 center-block" style="min-width: 20%">
                  <div class="bst-form-block bst-full-block overflow-wrappper">
                     <div class="login-bar"> <%= image_tag "login-bars.png", :height => "7px", :width => "743px", class: "img-responsive"%>
                     </div>
                     <div class="">
                        <div class="">
                          <div class="text-center">
                                    <img width="" src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/4WAENRhxk2dcMeK/logo.png">
                                 </div>
                        </div>
                        <div class="text-center">
                           <div class="mrgn-b-md" class="text-center">
                              <h2 class="text-capitalize base-dark font-2x fw-normal text-center"></h2>
                           </div>
                           <p class="text-center">Please Provide Email & Password</p>
                        </div>
                     </div>
                     <div class="bst-block-content">
                        <!-- <form class="login-form" action="javascript:;" method="post"> -->
                        <%= form_for resource, as: resource_name, url: session_path(resource_name),:html => { :class => "login-form" }   do |f| %>
                        <div class="form-group has-feedback">
                           <%= f.email_field :email, autofocus: true, class: "form-control",id: "user-id", placeholder: "User Name"%>
                           <span class="glyphicon glyphicon-user form-control-feedback fa-lg" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-feedback">
                           <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "user-pwd", placeholder: "Password"%><span class="glyphicon glyphicon-lock form-control-feedback fa-lg" aria-hidden="true"></span>
                        </div>
                        <div class="login-meta mrgn-b-lg">
                           <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                 <div class="checkbox">
                                    <%= f.check_box :remember_me %>
                                    <%= f.label :remember_me,class: "text-capitalize" %>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <%= f.submit "Login", class: "btn btn-success btn-lg btn-block font-2x" %>
                        </div>
                        <div class="text-center">
                           <a href="javascript:;" class="text-primary password-style">Forgot Password?</a> 
                        </div>
                        <br>
                        <div class="text-center">
                           <!--               <h5 class="base-dark">Don't have an account ? <a href="<%#= new_user_registration_path %>" class="text-primary">Sign Up</a></h5> -->
                        </div>
                        <div class="text-center"> <a class="back-home-btn" href="http://www.carechronic.com/index.html"><i class="fa fa-long-arrow-left mrgn-r-xs">               
                           </i>Back To Home</a>
                        </div>
                        <% end %>
                        <!-- </form> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- 
   <h2>Log in</h2>
   
   <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div class="field">
       <%#= f.label :email %><br />
       <%#= f.email_field :email, autofocus: true %>
     </div>
   
     <div class="field">
       <%#= f.label :password %><br />
       <%#= f.password_field :password, autocomplete: "off" %>
     </div>
   
     <%# if devise_mapping.rememberable? -%>
       <div class="field">
         <%#= f.check_box :remember_me %>
         <%#= f.label :remember_me %>
       </div>
     <%# end -%>
   
     <div class="actions">
       <%#= f.submit "Log in" %>
     </div>
   <%# end %>
    -->
<%#= render "devise/shared/links" %>