<nav class="sidebar-nav collapse">
   <ul class="list-unstyled sidebar-menu">
    <li class="sidenav-heading text-uppercase">Dashboards</li>
    <li class="active opened">
     <a href="<%= doctorsdashboard_path %>"><i class="fa fa-user-md" aria-hidden="true"></i> <span>Dashboards</span></a>

     </li>
     <li class="sidenav-heading text-uppercase">Features</li>
     <li class="">
       <a href="<%= doctors_careteam_path %>"><i class="fa fa-user-plus" aria-hidden="true"></i><span>CareTeam Member</span></a>
     </li>
     <% if current_user.assistant.present? %>
       <li class="">
         <a href="<%= edit_assistant_path(current_user.assistant) %>"><i class="fa fa-user-plus" aria-hidden="true"></i><span>Update CareTeam Member</span></a>
       </li>
       <li class="">
         <a href="<%= doctors_patientlist_path %>"><i class="fa fa-wheelchair" aria-hidden="true"></i><span>Patients List</span></a>
       </li>
     <% end %>
   </ul>
</nav>