<div class="bst-main">
   <div class="fyt-main-top"></div>
   <div class="bst-main-wrapper pad-all-md">
      <div class="bst-sidebar">
         <div class="bst-sidebar-back"> </div>
         <div class="bst-sidebar-nav-wrapper">
            <div class="bst-site-link mrgn-b-md bg-white overflow-wrapper">
               <div class="bst-site-info pull-left"><i class="fa fa-ambulance mrgn-r-sm"> </i> <span>Chronic Care</span> </div>
               <button class="c-hamburger c-hamburger--htra bst-bars pull-right"> <span>toggle menu</span></button>
            </div>
            <div class="bst-sidebar-menu pad-lr-lg pad-tb-md bg-white">
              <%= render "nav_doctor" %>
            </div>
           

            </div>
         </div>
         <div class="bst-content-wrapper">
            <div class="bst-content">
               <div class="bst-page-bar mrgn-b-md breadcrumb-double-arrow">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item text-capitalize">
                        <h3>Doctor's Dashboard</h3>
                     </li>
                  </ul>
               </div>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <div class="row">
                  <div class="col-md-12 col-lg-12 mrgn-b-md full-col-lg-md">
                     <h2 style="color: grey">Welcome Dr, <%= current_user.full_name %></h2>
                     <br>
                     <!--<div class="">-->
                        <!--<div class="bst-block">-->
                           <!--<div class="bst-block-title mrgn-b-md">-->
                              <!--<h3>Predefined Ranges</h3>-->
                           <!--</div>-->
                           <!--<div class="form-input">-->
                              <!--<div class="form-group has-feedback">-->
                                 <!--<input class="reportrange form-control" type="text" name="daterange"> <span class="glyphicon glyphicon-calendar form-control-feedback fa-lg base-dark" aria-hidden="true"></span> -->
                              <!--</div>-->
                              <!--<span class="help-block">Select predefined date</span> -->
                           <!--</div>-->
                        <!--</div>-->
                     <!--</div>-->
                     <div class="row">
                        <div class="col-md-6 col-lg-6">
                           <div class="bst-block">
                              <div class="bst-block-title mrgn-b-md">
                                 <div class="pos-relative">
                                    <div class="caption">
                                       <h3 class="text-capitalize">Stats</h3>
                                    </div>
                                    <div class="contextual-link">
                                       <div class="dropdown">
                                          <h3>Oct 2017</h3>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bst-block-content">
                                 <div class="table-responsive">
                                    <table class="table table-striped table-middle table-hover">
                                       <thead>
                                          <tr class="bg-success">
                                             <th></th>
                                             <th></th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>Total Patients</td>
                                             <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.total_patients.count if current_user.assistant %></span></td>
                                          </tr>
                                          <tr>
                                             <td>New Enrolled</td>
                                             <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.from_this_month.count if current_user.assistant %></span></td>
                                          </tr>
                                          <!--<tr>-->
                                             <!--<td>20+ Min Patients</td>-->
                                             <!--<td class="text-center"><span class="label label-success btn-rounded">17</span></td>-->
                                          <!--</tr>-->
                                          <tr>
                                             <td>Care Plans</td>
                                             <td class="text-center"><span class="label label-success btn-rounded">0</span></td>
                                          </tr>

                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                           <div class="bst-block">
                              <div class="bst-block-title mrgn-b-md">
                                 <div class="pos-relative">
                                    <div class="caption">
                                       <h3 class="text-capitalize">Billing</h3>
                                    </div>
                                    <div class="contextual-link">
                                       <div class="dropdown">
                                          <h3>Oct 2017</h3>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bst-block-content">
                                 <div class="table-responsive">
                                    <table class="table table-striped table-middle table-hover">
                                       <thead>
                                          <tr class="bg-success">
                                             <th></th>
                                             <th></th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>Eligible Patients For Billing</td>
                                             <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.eligible_patients_for_billing.count if current_user.assistant %></span></td>
                                          </tr>



                                          <tr>
                                             <td>Total Today Billed Patients</td>
                                             <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.total_today_billed_patients if current_user.assistant %></span></td>
                                          </tr>
                                          <tr>
                                             <td>Total Current Month Billed Patients</td>
                                             <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.total_current_month_billed_patients if current_user.assistant %></span></td>
                                          </tr>



                                          <tr>
                                             <td>Total Claims Amount</td>
                                             <td class="text-center"><span class="label label-success btn-rounded">$0</span></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                       <div class="col-md-6 col-lg-6">
                        <div class="bst-block">
                           <div class="bst-block-title mrgn-b-md">
                              <div class="pos-relative">
                                 <div class="caption">
                                    <h3 class="text-capitalize">Call Center</h3>
                                 </div>
                                 <div class="contextual-link">
                                    <div class="dropdown">
                                       <h3>Oct 2017</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="bst-block-content">
                              <div class="table-responsive">
                                 <table class="table table-striped table-middle table-hover">
                                    <thead>
                                       <tr class="bg-success">
                                          <th></th>
                                          <th></th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td>Less Than 20 Min Patients</td>
                                      <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.total_patients_under_20_min_call.count if current_user.assistant %></span></td>
                                    </tr>


                                    <tr>
                                      <td>Today Total Calls</td>
                                      <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.today_total_patient_calls if current_user.assistant %></span></td>
                                    </tr>

                                    <tr>
                                      <td>This Month Total Calls</td>
                                      <td class="text-center"><span class="label label-success btn-rounded"><%= current_user.assistant.monthly_total_patient_calls if current_user.assistant %></span></td>
                                    </tr>

                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>









                     </div>
                  </div>
               </div>







            </div>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render "shared/footer" %>