<div class="bst-wrapper">
<div class="bst-main lost-bg">
<div class="page-error">
<div class="row">
<div class="col-xs-11 col-sm-10 sol-md-7 col-lg-5 center-block">
<div class="bst-form-block text-center bst-full-block">
<div class="login-bar"> <img src="assets/img/login-bars.png" class="img-responsive" alt="login bar" width="743" height="7"> </div>
<div class="mrgn-b-lg">
<p>Oops! You're lost</p>
</div>
<div class="mrgn-b-lg">
<h2>404</h2> </div>
<div class="mrgn-b-lg">
<p class="content font-lg"> We can not find the page you're looking for.
<br>Return home or try the search bar below. </p>
</div> <a href="<%= root_path %>" class="btn btn-success btn-block font-lg">Back to Home</a> </div>
</div>
</div>
</div>
</div>
</div>
<script src="assets/js/vendor.js" type="text/javascript"></script>
<script src="assets/js/plugins.js" type="text/javascript"></script>
<script src="assets/js/beast.js" type="text/javascript"></script>