@font-face {
    font-family: FontAwesome;
    src: font-url('fontawesome-webfont3e6e.eot?v=4.7.0');
    src: font-url('fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format("embedded-opentype"), font-url('fontawesome-webfont3e6e.woff?v=4.7.0') format("woff"), font-url('fontawesome-webfont3e6e.ttf?v=4.7.0') format("truetype"), font-url('fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format("svg");
    font-weight: 400;
    font-style: normal;
}


.margin-btm{
	margin-bottom: 50px;
}
.dropdown_plan{
   margin-right: 12px;
   float: right;
}
.dropdown_plan_submit{
	float: right;	
}
.plan_form{
	margin-right: 30px;
}
.btn-chart{
  color: #fff;
  border-color: none !important;
}

.pad15{
  padding: 15px;
}

.circle_low_risk_factor {        
  background: green;
  padding: 1px 9px;
  height: 117px;
  border-radius: 100%;
  color: #008000; 
}

.circle_high_risk_factor {
  background: red;
  padding: 1px 9px;
  height: 117px;
  border-radius: 100%;
  color: #008000; 
}