<% if params[:_method] == "patch" %>

	$('#today_min-<%= @appoint.patient.id %>').html("<%= @appoint.today_mins %>");
	$('#total_min-<%= @appoint.patient.id %>').html("<%= @appoint.total_mins %>");
	$(".today-calls-count").html("<%= today_calls_count %>");
	$(".monthly-calls-count").html("<%= monthly_calls_count %>");

	$("#inputPassword32-<%= @appoint.patient.id %>").val("00:00:00");
	$("#patientNotes-<%= @appoint.patient.id %>").val("<%= @appoint.notes %>");

	<%# if @appoint.total_mins >= "00:20:00" %>
		// $("#patientRecord-<%= @appoint.patient.id %>").remove();
	<%# end %>

<% else %>

	$("#bill_notes-<%= @appoint.patient.id %>").val("<%= @appoint.amount %>");
	$("#inputPassword3-<%= @appoint.patient.id %>").val("<%= @appoint.bill_notes %>");

	$("#patientRecord-<%= @appoint.patient.id %>").remove();
	$(".today-billed-patients-count").html("<%= today_billed_patients_count %>");
	$(".monthly-billed-patients-count").html("<%= monthly_billed_patients_count %>");

<% end %>
