<% if params[:flag] == "Diabetic Care Plan" %>
	<%= render partial: "dm_form" %>

<% elsif params[:flag] == "Hypertention Care Plan" %>
	<%= render partial: "htn_form" %>

<% elsif params[:flag] == "COPD Care Plan" %>
	<%= render partial: "copd_form" %>

<% elsif params[:flag] == "ASTHMA Care Plan" %>
	<%= render partial: "asth_form" %>

<% elsif params[:flag] == "OBESITY Care Plan" %>
	<%= render partial: "obs_form" %>

<% elsif params[:flag] == "Heart Faliure Care Plan" %>
	<%= render partial: "hf_form" %>

<% elsif params[:flag] == "Mental Health Care Plan" %>
	<%= render partial: "mh_form" %>

<% elsif params[:flag] == "Schaemic Health Disease Care Plan" %>
	<%= render partial: "shd_form" %>

<% end %>
