<% if params[:flag] == "DM" %>
	<%= render partial: "dm_form" %>

<% elsif params[:flag] == "HTN" %>
	<%= render partial: "htn_form" %>

<% elsif params[:flag] == "COPD" %>
	<%= render partial: "copd_form" %>

<% elsif params[:flag] == "ASTHMA" %>
	<%= render partial: "asth_form" %>

<% elsif params[:flag] == "OBESITY" %>
	<%= render partial: "obs_form" %>

<% elsif params[:flag] == "HF" %>
	<%= render partial: "hf_form" %>

<% elsif params[:flag] == "MH" %>
	<%= render partial: "mh_form" %>

<% elsif params[:flag] == "SHD" %>
	<%= render partial: "shd_form" %>

<% end %>