<!DOCTYPE html>
<html>
  <head>
    <title>CareChronics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="desktop">
    <div class="bst-wrapper">
      <% if user_signed_in?  %>
        <%= render "shared/header" %>
      <% end %>

     

      <%= yield %>
    
    </div>
  </body>
</html>
